{{ 'ai-action-feature-component.css' | asset_url | stylesheet_tag }}
<div class="ai_action_feature_component">
  <div class="button_container">
    <div class="img_click_container">
      <img src="https://cdn.shopify.com/s/files/1/0584/7508/6033/files/rarrowper.png?v=1691392652">
    </div>
  </div>
  <div class="horizontal_scroll_container">
   

    <div class="inside_container_horizontal_scroll">
      
      <div class="scroll_bar_horizontal">
        <div class="progress_horizontal_scroll"></div>
        <div class="remove_button_scroll">
          <svg width="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.1925 6.00928L12.0525 10.8994L10.9325 12.0193L6.07251 7.12939L1.1825 12.0193L0.0625 10.8994L4.95251 6.00928L0.0625 1.14941L1.1825 0.0292969L6.07251 4.8894L10.9325 0.0292969L12.0525 1.14941L7.1925 6.00928Z" fill="white"></path></svg>
        </div>
      </div> 

      <div class="middle_section_identified_objects">
        <div class="image_container"><img alt="" src="//global.dreametech.com/cdn/shop/files/23_2x_4c132d18-187e-4cb0-b6e1-798b64878a40.webp?v=1693550381" data-src="//global.dreametech.com/cdn/shop/files/23_2x_4c132d18-187e-4cb0-b6e1-798b64878a40.webp?v=1693550381" class=" "></div>
        <p>Advanced AI Action utilizes an LED light to rapidly learn your home and tailor cleaning strategies—<strong>day or night</strong>.</p>
      </div>
      <div class="middle_section_identified_objects end_section_scroll">
        <div class="image_container"><img alt="" src="//global.dreametech.com/cdn/shop/files/22_2x_1d57c179-36de-49ac-b9c2-460fc1e3153c.webp?v=1693550317" data-src="//global.dreametech.com/cdn/shop/files/22_2x_1d57c179-36de-49ac-b9c2-460fc1e3153c.webp?v=1693550317" class=" "></div>
        <p><strong>Identify objects even in dim spaces and dark rooms.</strong></p>
      </div>

          
    </div>
  </div>
  <div class="text_feature_description">
    <div class="title_with_background">AI Action</div>
    <div class="title_feature">Understands Your Home</div>
    <h2>AI Action and the 3D Structured Light Obstacle Avoidance System</h2>
    <p class="paragraph1">
      <span>With AI Action and the 3D Structured Light Obstacle Avoidance System, L20 Ultra moves with impressive smoothness, effortlessly avoiding obstacles.</span>
      With
      <strong>a built-in LED</strong>, your robot identifies obstacles and cleans efficiently
      <strong>in dim spaces and dark rooms</strong>.</p>
  </div>
  <img
    src="//global.dreametech.com/cdn/shop/files/22_2x_a01085a7-5191-461c-b405-002546ad201d.webp?v=1693550348"
    data-src="//global.dreametech.com/cdn/shop/files/22_2x_a01085a7-5191-461c-b405-002546ad201d.webp?v=1693550348"
    style=""
    class="bg_img">
</div>