{{ 'animation-canvas-rotating.css' | asset_url | stylesheet_tag }}
<div class="animation_rotation_canvas">
  <div class="behind_title">
    <span class="span1">Carpet?</span>
    <span class="span2">
      Or Not?</span>
  </div>

  <div class="horizontal_scroll_container">
    <div class="inside_container_horizontal_scroll">
      <div class="scroll_bar_horizontal">
        <div class="progress_horizontal_scroll"></div>
        <div class="remove_button_scroll">
          <svg width="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.1925 6.00928L12.0525 10.8994L10.9325 12.0193L6.07251 7.12939L1.1825 12.0193L0.0625 10.8994L4.95251 6.00928L0.0625 1.14941L1.1825 0.0292969L6.07251 4.8894L10.9325 0.0292969L12.0525 1.14941L7.1925 6.00928Z" fill="white"></path></svg>
        </div>
      </div>     

      <div class="row_1_">
        <div class="title_part">
          <h1 class="part_1_title">3</h1>
          <span class="part2_title">Carpet Cleaning <br>Methods</span>
        </div>
        <div class="card_top">
          <div class="text_part_container">
            <span class="top_title_card">Mop Removal⁸</span>
            <p class="bottom_title_card">Removes the mops entirely to keep carpets dry.</p>
          </div>
          <div class="image_container_card">
            <img alt="" src="//global.dreametech.com/cdn/shop/files/13_2x_78a9504f-351f-42e5-8e2e-eadb10c04719.webp?v=1693550128" data-src="//global.dreametech.com/cdn/shop/files/13_2x_78a9504f-351f-42e5-8e2e-eadb10c04719.webp?v=1693550128" class="">
          </div>
        </div>
        <div class="card_top">
          <div class="text_part_container">
            <span class="top_title_card">Mop Raising</span>
            <p class="bottom_title_card">Lifts the mop pads up to <strong>10.5mm⁹ high</strong> to easily handle low-pile carpet.</p>
          </div>
          <div class="image_container_card">
            <img alt="" src="//global.dreametech.com/cdn/shop/files/14_2x_115efc61-7676-4f25-9268-99be4c0b70e4.webp?v=1693550156" data-src="//global.dreametech.com/cdn/shop/files/14_2x_115efc61-7676-4f25-9268-99be4c0b70e4.webp?v=1693550156" class="">
          </div>
        </div>
        <div class="card_top">
          <div class="text_part_container">
            <span class="top_title_card">Carpet Avoidance</span>
            <p>Completely avoids carpets while cleaning.</p>
          </div>
          <div class="image_container_card">
            <img alt="" src="//global.dreametech.com/cdn/shop/files/15_2x_2bb73ad0-f712-41f6-8c5b-464928b42a80.webp?v=1693550187" data-src="//global.dreametech.com/cdn/shop/files/15_2x_2bb73ad0-f712-41f6-8c5b-464928b42a80.webp?v=1693550187" class="">
          </div>
        </div>
      </div>
      <div class="row_2_">
        <div class="title_part">
          <h1 class="part_1_title">4</h1>
          <span class="part2_title">Cleaning <br>Modes</span>
        </div>
        <div class="card_top">
          <div class="text_part_container">
            <span class="top_title_card">Vacuum Only</span>
            <p><strong>Removes the mop pads</strong> to focus exclusively on carpets with no chance of getting them wet.</p>
          </div>
          <div class="image_container_card">
            <img alt="" src="//global.dreametech.com/cdn/shop/files/16_2x_c85b59db-5054-46e1-88a6-b1aae7687f3a.webp?v=1693550142" data-src="//global.dreametech.com/cdn/shop/files/16_2x_c85b59db-5054-46e1-88a6-b1aae7687f3a.webp?v=1693550142" class="">
          </div>
        </div>
        <div class="card_top">
          <div class="text_part_container">
            <span class="top_title_card">Mop Only</span>
            <p>Focused cleaning for hard floors that <strong>raises the main brush,</strong> mitigating risk of water getting into the dust box.</p>
          </div>
          <div class="image_container_card">
            <img alt="" src="//global.dreametech.com/cdn/shop/files/17_2x_312087f6-1d04-40bc-b5b9-930bf68567df.webp?v=1693550174" data-src="//global.dreametech.com/cdn/shop/files/17_2x_312087f6-1d04-40bc-b5b9-930bf68567df.webp?v=1693550174" class="">
          </div>
        </div>
        <div class="card_top">
          <div class="text_part_container">
            <span class="top_title_card">Vacuum Then Mop</span>
            <p>Effective whole-home cleaning that vacuums all over before coming back to mop hard floors.</p>
          </div>
          <div class="image_container_card">
            <img alt="" src="//global.dreametech.com/cdn/shop/files/18_2x_88124336-7e0d-42c9-92f0-38b5ebeb5426.webp?v=1693550197" data-src="//global.dreametech.com/cdn/shop/files/18_2x_88124336-7e0d-42c9-92f0-38b5ebeb5426.webp?v=1693550197" class=" lazyloaded">
          </div>
        </div>
        <div class="card_top">
          <div class="text_part_container">
            <span class="top_title_card">Vacuum and Mop</span>
            <p>Cleans floors all over, <strong>vacuuming and mopping at the same time,</strong> unless carpeting is encountered.</p>
          </div>
          <div class="image_container_card">
            <img alt="" src="//global.dreametech.com/cdn/shop/files/19_2x_6591841d-3fb1-49f1-b25f-e357560a9aa1.webp?v=1693550210" data-src="//global.dreametech.com/cdn/shop/files/19_2x_6591841d-3fb1-49f1-b25f-e357560a9aa1.webp?v=1693550210" class="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="button_container"> 
    <div class="img_click_container">
      <img src="https://cdn.shopify.com/s/files/1/0584/7508/6033/files/rarrowper.png?v=1691392652">
    </div>
  </div>

  <div class="description_text">
    <h1>Carpet? Or Not?</h1>
    <p>Advanced
      <strong>ultrasonic carpet detection</strong>
      allows L20 Ultra to identify carpeting and return to the base station to
      <strong>detach its mops</strong>
      when set to do so and
      <strong>keep carpets nice and dry</strong>. Returning to clean, intelligent
      <strong>suction boost</strong>
      digs down deep into carpets to pull out embedded dust and debris.</p>
  </div>
  <canvas class="animation_rotation_canvas"></canvas>
</div>