{{ 'animation-canvas-rotating.css' | asset_url | stylesheet_tag }}
<div class="animation_rotation_canvas">
  <div class="behind_title">
    <span class="span1">Carpet?</span>
    <span class="span2">
      Or Not?</span>
  </div>
  <div class="description_text">
    <h1>Carpet? Or Not?</h1>
    <p>Advanced
      <strong>ultrasonic carpet detection</strong>
      allows L20 Ultra to identify carpeting and return to the base station to
      <strong>detach its mops</strong>
      when set to do so and
      <strong>keep carpets nice and dry</strong>. Returning to clean, intelligent
      <strong>suction boost</strong>
      digs down deep into carpets to pull out embedded dust and debris.</p>
  </div>
  <canvas class="animation_rotation_canvas"></canvas>
</div>