{{ 'animation-canvas-feature-product-component.css' | asset_url | stylesheet_tag }}
<div class="animation_canvas_feature_product_component">

  <div class="images_animations">
    <img alt="" src="https://cdn.shopify.com/s/files/1/0077/3953/9515/files/Installmops_1.webp?v=1691028939">
  </div>
  <div class="text_feature_description">
    <div class="title_with_background">DuoScrub™ Mopping System</div>
    <div class="title_feature">Scrubs out Sticky Messes</div>
    <div class="paragraph1">Our impressive DuoScrub™ Mopping System utilizes
      <strong>two high-speed rotary mops
      </strong>
      that scrub under pressure to clean stubborn dirt and messy spills so that<strong>messes don’t stick around in your home</strong>
      . With a liftable rubber brush⁴ and an automatically closed fan motor,
      <strong>cleaning is conducted in silence</strong>.
    </div>
  </div>
  <div class="last_text_features_container">
    <h1>Experience Ultimate Cleaning with Automatic Robot Care and Maintenance
    </h1>
    <p>Automate your day-to-day cleaning and come home to<strong>
        just-cleaned floors</strong>
      that smell good and feel great thanks to a
      <strong>fully automatic base station</strong>. Keep your robot in tip-top shape with
      <strong>auto-empty, mop washing, water refilling, solution adding,</strong>
      and more, for cleaning that is more hands-free than ever.</p>
  </div>
</div>