{{ 'animation-canvas-with-title.css' | asset_url | stylesheet_tag }}
<div class="animation_canvas_with_title">
  <div class="canvas_layout_desc_1">
    <span>Liftable and Bristleless Rubber Brush</span>
  </div>
  <div class="canvas_layout_desc_2">
    <span>Side Brush</span>
  </div>
  <div class="canvas_layout_desc_3">
    <span>Fan Motor</span>
  </div>
  <div class="canvas_layout_desc_4">
    <span>300mL Dust Box</span>
  </div>
  <canvas class="animation_title_canvas"></canvas>
  <h1 class="title_behind_canvas">7,000Pa</h1>
  <div class="bottom_description">
    <span>Our Most Advanced and Powerful Vacuuming System Ever</span>
    <p>
      <strong>Hair, dirt, dust, and other debris have nowhere to hide</strong>. Dreame's advanced
      <strong>Vormax™ Suction System</strong>
      and innovative customized carpet cleaning optimize vacuuming efficiency to pull household debris up from rugs, out of carpets, and off of hard floors.</p>
  </div>
</div>