{{ 'available-products-component.css' | asset_url | stylesheet_tag }}

<div class="available_products_component_container">
  <div class="images_container">
    <img
      class="scene1"
      src="https://global.dreametech.com/cdn/shop/files/1a.webp?v=1693549925"
      alt="">
    <img
      class="scene2"
      src="https://global.dreametech.com/cdn/shop/files/1b.webp?v=1693549928"
      alt="">
    <img
      class="scene3"
      src="https://global.dreametech.com/cdn/shop/files/1c.webp?v=1693549931"
      alt="">
  </div>
  <h1>Available in Black and White</h1>
</div>