{{ 'feature-title-component.css' | asset_url | stylesheet_tag }}
<div class="feature_title_component">
  <h1>Bye Hair, Bye Dirt, Bye Dust</h1>
  <p>
    <p>The powerful
      <strong>Vormax™ Suction System</strong>
      packs 7,000Pa⁷ of suction power for remarkable vacuuming. The liftable rubber brush provides
      <strong>easy hair detangling</strong>
      while ultrasonic carpet recognition and mop-removal technology combine
      <strong>for enhanced carpet and rug cleaning</strong>.</p>
  </p>
</div>