{{ 'first-description-component.css' | asset_url | stylesheet_tag }}
<div class="first_description_container">
  <div class="text_description_animation_container">
    <h1 class="inner_text_title">Extensive automation. Detailed clean.</h1>
  </div>
  <div class="background_video">
    <iframe
      src="https://player.vimeo.com/video/855315676?loop=true&amp;autoplay=true&amp;muted=false&amp;gesture=media&amp;playsinline=true&amp;byline=false&amp;portrait=false&amp;title=false&amp;speed=true&amp;transparent=false&amp;customControls=true"
      allowfullscreen=""
      allow="autoplay; fullscreen; picture-in-picture; encrypted-media; accelerometer; gyroscope"
      title="Player for "
      data-ready="true"></iframe>
  </div>
</div>