{{ 'last-vertical-tabs-component.css' | asset_url | stylesheet_tag }}
<div class="last_vertical_tabs_component">
  <div class="list_scroll_elements">
    <div class="scroll_el el1">
      <div class="text_feature_description">
        <div class="title_with_background">CleanGenius™
        </div>


        <h2>Pathfinder™ Smart Navigation</h2>
        <div class="title_feature">Optimized Strategies for Optimized Cleaning
        </div>
        <div class="paragraph1">
          Stop spending so much of your time cleaning your home and start enjoying it. L20 Ultra learns your home layout and recommends strategies,
          <strong>suggests whether to use daily mode or ultimate mode,</strong>
          and
          <strong>provides cleaning reports</strong>
          to help make your cleanup as easy and detailed as possible.
        </div>
      </div>
      <img alt="" src="//global.dreametech.com/cdn/shop/files/24_2x_9ffed5f9-ae14-4fa4-a13a-62538a356964.webp?v=1693550476">
    </div>
    <div class="scroll_el el2">
      <div class="text_feature_description">
        <div class="title_with_background">CleanGenius™
        </div>

        <div class="title_feature">Mops, Washes, Repeats.
        </div>
        <h2>Pathfinder™ Smart Navigation</h2>
        <div class="paragraph1">
          Advanced dirt detection technology identifies how dirty the mops and floors are and comes back to mop as many times as needed to
          <strong>make your rooms refreshingly clean</strong>.
        </div>
      </div>
      <img alt="" src="//global.dreametech.com/cdn/shop/files/25_2x_cba65e73-fa17-4090-abcb-29d80ae3f759.webp?v=1693550480">
    </div>
    <div class="scroller_container">
      <div class="top"></div>
      <div class="bottom"></div>
    </div>
  </div>
</div>