{{ 'last-section-component.css' | asset_url | stylesheet_tag }}
<div class="last_section_component">
  <div class="section_1">
    <div class="list_scroll_elements">
      <div class="scroll_el el1">
        <div class="text_feature_description">
          <div class="title_with_background">CleanGenius™
          </div>


          <h2>Pathfinder™ Smart Navigation</h2>
          <div class="title_feature">Optimized Strategies for Optimized Cleaning
          </div>
          <div class="paragraph1">
            Stop spending so much of your time cleaning your home and start enjoying it. L20 Ultra learns your home layout and recommends strategies,
            <strong>suggests whether to use daily mode or ultimate mode,</strong>
            and
            <strong>provides cleaning reports</strong>
            to help make your cleanup as easy and detailed as possible.
          </div>
        </div>
        <img alt="" src="//global.dreametech.com/cdn/shop/files/24_2x_9ffed5f9-ae14-4fa4-a13a-62538a356964.webp?v=1693550476">
      </div>
      <div class="scroll_el el2">
        <div class="text_feature_description">
          <div class="title_with_background">CleanGenius™
          </div>

          <div class="title_feature">Mops, Washes, Repeats.
          </div>
          <h2>Pathfinder™ Smart Navigation</h2>
          <div class="paragraph1">
            Advanced dirt detection technology identifies how dirty the mops and floors are and comes back to mop as many times as needed to
            <strong>make your rooms refreshingly clean</strong>.
          </div>
        </div>
        <img alt="" src="//global.dreametech.com/cdn/shop/files/25_2x_cba65e73-fa17-4090-abcb-29d80ae3f759.webp?v=1693550480">
      </div>
      <div class="scroller_container">
        <div class="top"></div>
        <div class="bottom"></div>
      </div>
    </div>
    <div class="app_container">
      <div class="textual_content">
        <h1>Personalize Your Cleaning and Take Command
        </h1>
        <p class="mobile">
          <strong>Take control via the app</strong>
          to tailor your cleaning to suit your home and schedule.</p>
        <p class="desktop">Download the new app from the App Store or Google Play for the best Dreame-home experience. Take control via the app to tailor your cleaning to suit your home and schedule.
          <strong>Segment rooms, create virtual walls, set no-go zones</strong>, or
          <strong>schedule</strong>cleanups all from the comfort of your own phone.</p>
      </div>
      <div class="images_content">
        <img
          alt=""
          src="//global.dreametech.com/cdn/shop/files/overhide_6.png?v=1693550512"
          data-src="//global.dreametech.com/cdn/shop/files/overhide_6.png?v=1693550512"
          class="img1">
        <img
          alt=""
          src="//global.dreametech.com/cdn/shop/files/overhide_1.png?v=1693550524"
          data-src="//global.dreametech.com/cdn/shop/files/overhide_1.png?v=1693550524"
          class=" img2">

      </div>
    </div>
    <div class="features_section_rows">
      <div class="main_content">
        <div class="feature_row">
          <div class="textual_content_container">
            <h1>30% Faster Charging¹¹ and a High Capacity Battery
            </h1>
            <p>Dreame’s advanced technology boosts charging speed tremendously for the large
              <strong>6,400mAh battery</strong>
              to ensure your robot is quickly ready for the next cleaning session.</p>
          </div>
          <div class="img_container">
            <img
              alt=""
              class=""
              data-src="//global.dreametech.com/cdn/shop/files/30_2x_d427b1c1-bf96-4649-8d6d-22abfc49d176_1600x.webp?v=1693550623"
              data-sizes="auto"
              height="953"
              width="1253"
              srcset="//global.dreametech.com/cdn/shop/files/30_2x_d427b1c1-bf96-4649-8d6d-22abfc49d176_5000x.webp?v=1693550623 5000w,
                //global.dreametech.com/cdn/shop/files/30_2x_d427b1c1-bf96-4649-8d6d-22abfc49d176_4500x.webp?v=1693550623 4500w,
                //global.dreametech.com/cdn/shop/files/30_2x_d427b1c1-bf96-4649-8d6d-22abfc49d176_4000x.webp?v=1693550623 4000w,
                //global.dreametech.com/cdn/shop/files/30_2x_d427b1c1-bf96-4649-8d6d-22abfc49d176_3500x.webp?v=1693550623 3500w,
                //global.dreametech.com/cdn/shop/files/30_2x_d427b1c1-bf96-4649-8d6d-22abfc49d176_3000x.webp?v=1693550623 3000w,
                //global.dreametech.com/cdn/shop/files/30_2x_d427b1c1-bf96-4649-8d6d-22abfc49d176_2500x.webp?v=1693550623 2500w,
                //global.dreametech.com/cdn/shop/files/30_2x_d427b1c1-bf96-4649-8d6d-22abfc49d176_2000x.webp?v=1693550623 2000w,
                //global.dreametech.com/cdn/shop/files/30_2x_d427b1c1-bf96-4649-8d6d-22abfc49d176_1800x.webp?v=1693550623 1800w,
                //global.dreametech.com/cdn/shop/files/30_2x_d427b1c1-bf96-4649-8d6d-22abfc49d176_1600x.webp?v=1693550623 1600w,
                //global.dreametech.com/cdn/shop/files/30_2x_d427b1c1-bf96-4649-8d6d-22abfc49d176_1400x.webp?v=1693550623 1400w,
                //global.dreametech.com/cdn/shop/files/30_2x_d427b1c1-bf96-4649-8d6d-22abfc49d176_1200x.webp?v=1693550623 1200w,
                //global.dreametech.com/cdn/shop/files/30_2x_d427b1c1-bf96-4649-8d6d-22abfc49d176_1000x.webp?v=1693550623 1000w,
                //global.dreametech.com/cdn/shop/files/30_2x_d427b1c1-bf96-4649-8d6d-22abfc49d176_800x.webp?v=1693550623 800w,
                //global.dreametech.com/cdn/shop/files/30_2x_d427b1c1-bf96-4649-8d6d-22abfc49d176_600x.webp?v=1693550623 600w,
                //global.dreametech.com/cdn/shop/files/30_2x_d427b1c1-bf96-4649-8d6d-22abfc49d176_400x.webp?v=1693550623 400w,
                //global.dreametech.com/cdn/shop/files/30_2x_d427b1c1-bf96-4649-8d6d-22abfc49d176_200x.webp?v=1693550623 200w,"
              style=";"
              sizes="392px"
              src="//global.dreametech.com/cdn/shop/files/30_2x_d427b1c1-bf96-4649-8d6d-22abfc49d176_1600x.webp?v=1693550623">
          </div>

        </div>
        <div class="feature_row swap">
          <div class="textual_content_container">
            <h1>Seamless Smart Home Integration with Voice Control
            </h1>
            <p>
              <strong>Alexa, Siri, and Google Assistant¹²</strong>compatibility put cleaning at the ends of your fingers and the tip of your tongue. Say the word to start, stop, and pause cleaning with your favorite voice assistant.</p>
          </div>
          <div class="img_container">
            <img
              alt=""
              class=""
              data-src="//global.dreametech.com/cdn/shop/files/31_2x_3e04cbb5-d415-4e13-b925-1c4ca1fc786e_1600x.webp?v=1693550625"
              data-sizes="auto"
              data-srcset="//global.dreametech.com/cdn/shop/files/31_2x_3e04cbb5-d415-4e13-b925-1c4ca1fc786e_5000x.webp?v=1693550625 5000w,
                          //global.dreametech.com/cdn/shop/files/31_2x_3e04cbb5-d415-4e13-b925-1c4ca1fc786e_4500x.webp?v=1693550625 4500w,
                          //global.dreametech.com/cdn/shop/files/31_2x_3e04cbb5-d415-4e13-b925-1c4ca1fc786e_4000x.webp?v=1693550625 4000w,
                          //global.dreametech.com/cdn/shop/files/31_2x_3e04cbb5-d415-4e13-b925-1c4ca1fc786e_3500x.webp?v=1693550625 3500w,
                          //global.dreametech.com/cdn/shop/files/31_2x_3e04cbb5-d415-4e13-b925-1c4ca1fc786e_3000x.webp?v=1693550625 3000w,
                          //global.dreametech.com/cdn/shop/files/31_2x_3e04cbb5-d415-4e13-b925-1c4ca1fc786e_2500x.webp?v=1693550625 2500w,
                          //global.dreametech.com/cdn/shop/files/31_2x_3e04cbb5-d415-4e13-b925-1c4ca1fc786e_2000x.webp?v=1693550625 2000w,
                          //global.dreametech.com/cdn/shop/files/31_2x_3e04cbb5-d415-4e13-b925-1c4ca1fc786e_1800x.webp?v=1693550625 1800w,
                          //global.dreametech.com/cdn/shop/files/31_2x_3e04cbb5-d415-4e13-b925-1c4ca1fc786e_1600x.webp?v=1693550625 1600w,
                          //global.dreametech.com/cdn/shop/files/31_2x_3e04cbb5-d415-4e13-b925-1c4ca1fc786e_1400x.webp?v=1693550625 1400w,
                          //global.dreametech.com/cdn/shop/files/31_2x_3e04cbb5-d415-4e13-b925-1c4ca1fc786e_1200x.webp?v=1693550625 1200w,
                          //global.dreametech.com/cdn/shop/files/31_2x_3e04cbb5-d415-4e13-b925-1c4ca1fc786e_1000x.webp?v=1693550625 1000w,
                          //global.dreametech.com/cdn/shop/files/31_2x_3e04cbb5-d415-4e13-b925-1c4ca1fc786e_800x.webp?v=1693550625 800w,
                          //global.dreametech.com/cdn/shop/files/31_2x_3e04cbb5-d415-4e13-b925-1c4ca1fc786e_600x.webp?v=1693550625 600w,
                          //global.dreametech.com/cdn/shop/files/31_2x_3e04cbb5-d415-4e13-b925-1c4ca1fc786e_400x.webp?v=1693550625 400w,
                          //global.dreametech.com/cdn/shop/files/31_2x_3e04cbb5-d415-4e13-b925-1c4ca1fc786e_200x.webp?v=1693550625 200w,"
              height="953"
              width="1253"
              srcset="//global.dreametech.com/cdn/shop/files/31_2x_3e04cbb5-d415-4e13-b925-1c4ca1fc786e_5000x.webp?v=1693550625 5000w,
                      //global.dreametech.com/cdn/shop/files/31_2x_3e04cbb5-d415-4e13-b925-1c4ca1fc786e_4500x.webp?v=1693550625 4500w,
                      //global.dreametech.com/cdn/shop/files/31_2x_3e04cbb5-d415-4e13-b925-1c4ca1fc786e_4000x.webp?v=1693550625 4000w,
                      //global.dreametech.com/cdn/shop/files/31_2x_3e04cbb5-d415-4e13-b925-1c4ca1fc786e_3500x.webp?v=1693550625 3500w,
                      //global.dreametech.com/cdn/shop/files/31_2x_3e04cbb5-d415-4e13-b925-1c4ca1fc786e_3000x.webp?v=1693550625 3000w,
                      //global.dreametech.com/cdn/shop/files/31_2x_3e04cbb5-d415-4e13-b925-1c4ca1fc786e_2500x.webp?v=1693550625 2500w,
                      //global.dreametech.com/cdn/shop/files/31_2x_3e04cbb5-d415-4e13-b925-1c4ca1fc786e_2000x.webp?v=1693550625 2000w,
                      //global.dreametech.com/cdn/shop/files/31_2x_3e04cbb5-d415-4e13-b925-1c4ca1fc786e_1800x.webp?v=1693550625 1800w,
                      //global.dreametech.com/cdn/shop/files/31_2x_3e04cbb5-d415-4e13-b925-1c4ca1fc786e_1600x.webp?v=1693550625 1600w,
                      //global.dreametech.com/cdn/shop/files/31_2x_3e04cbb5-d415-4e13-b925-1c4ca1fc786e_1400x.webp?v=1693550625 1400w,
                      //global.dreametech.com/cdn/shop/files/31_2x_3e04cbb5-d415-4e13-b925-1c4ca1fc786e_1200x.webp?v=1693550625 1200w,
                      //global.dreametech.com/cdn/shop/files/31_2x_3e04cbb5-d415-4e13-b925-1c4ca1fc786e_1000x.webp?v=1693550625 1000w,
                      //global.dreametech.com/cdn/shop/files/31_2x_3e04cbb5-d415-4e13-b925-1c4ca1fc786e_800x.webp?v=1693550625 800w,
                      //global.dreametech.com/cdn/shop/files/31_2x_3e04cbb5-d415-4e13-b925-1c4ca1fc786e_600x.webp?v=1693550625 600w,
                      //global.dreametech.com/cdn/shop/files/31_2x_3e04cbb5-d415-4e13-b925-1c4ca1fc786e_400x.webp?v=1693550625 400w,
                      //global.dreametech.com/cdn/shop/files/31_2x_3e04cbb5-d415-4e13-b925-1c4ca1fc786e_200x.webp?v=1693550625 200w,"
              style=";"
              sizes="392px"
              src="//global.dreametech.com/cdn/shop/files/31_2x_3e04cbb5-d415-4e13-b925-1c4ca1fc786e_1600x.webp?v=1693550625">
          </div>

        </div>
      </div>
    </div>
    <div class="grid_features">
      <div class="main_content_grid">
        <div class="changing_card">
          <div class="main_div_image_container">
            <img
              class=""
              src="//global.dreametech.com/cdn/shop/files/Frame_911_1200x.png?v=1693550909"
              data-src="//global.dreametech.com/cdn/shop/files/Frame_911_1200x.png?v=1693550909">
          </div>
          <div class="main_div_title">
            <span>Base Station x 1</span>
          </div>
          <div class="note">Holds all parts in place as well as clean and charge the vacuum.</div>
        </div>
        <div class="right_card">
          <div class="top_row">
            <div class="cell cell1">
              <div class="title">Base Station x 1</div>
              <div class="image_container">
                <img
                  class="hidden"
                  src="//global.dreametech.com/cdn/shop/files/Frame_911_1200x.png?v=1693550909"
                  data-src="//global.dreametech.com/cdn/shop/files/Frame_911_1200x.png?v=1693550909">
                <img
                  alt=""
                  class=""
                  data-src="//global.dreametech.com/cdn/shop/files/Frame_911_1600x.png?v=1693550909"
                  data-sizes="auto"
                  data-srcset="//global.dreametech.com/cdn/shop/files/Frame_911_5000x.png?v=1693550909 5000w,
                              //global.dreametech.com/cdn/shop/files/Frame_911_4500x.png?v=1693550909 4500w,
                              //global.dreametech.com/cdn/shop/files/Frame_911_4000x.png?v=1693550909 4000w,
                              //global.dreametech.com/cdn/shop/files/Frame_911_3500x.png?v=1693550909 3500w,
                              //global.dreametech.com/cdn/shop/files/Frame_911_3000x.png?v=1693550909 3000w,
                              //global.dreametech.com/cdn/shop/files/Frame_911_2500x.png?v=1693550909 2500w,
                              //global.dreametech.com/cdn/shop/files/Frame_911_2000x.png?v=1693550909 2000w,
                              //global.dreametech.com/cdn/shop/files/Frame_911_1800x.png?v=1693550909 1800w,
                              //global.dreametech.com/cdn/shop/files/Frame_911_1600x.png?v=1693550909 1600w,
                              //global.dreametech.com/cdn/shop/files/Frame_911_1400x.png?v=1693550909 1400w,
                              //global.dreametech.com/cdn/shop/files/Frame_911_1200x.png?v=1693550909 1200w,
                              //global.dreametech.com/cdn/shop/files/Frame_911_1000x.png?v=1693550909 1000w,
                              //global.dreametech.com/cdn/shop/files/Frame_911_800x.png?v=1693550909 800w,
                              //global.dreametech.com/cdn/shop/files/Frame_911_600x.png?v=1693550909 600w,
                              //global.dreametech.com/cdn/shop/files/Frame_911_400x.png?v=1693550909 400w,
                              //global.dreametech.com/cdn/shop/files/Frame_911_200x.png?v=1693550909 200w,"
                  height="360"
                  width="283"
                  srcset="//global.dreametech.com/cdn/shop/files/Frame_911_5000x.png?v=1693550909 5000w,
                              //global.dreametech.com/cdn/shop/files/Frame_911_4500x.png?v=1693550909 4500w,
                              //global.dreametech.com/cdn/shop/files/Frame_911_4000x.png?v=1693550909 4000w,
                              //global.dreametech.com/cdn/shop/files/Frame_911_3500x.png?v=1693550909 3500w,
                              //global.dreametech.com/cdn/shop/files/Frame_911_3000x.png?v=1693550909 3000w,
                              //global.dreametech.com/cdn/shop/files/Frame_911_2500x.png?v=1693550909 2500w,
                              //global.dreametech.com/cdn/shop/files/Frame_911_2000x.png?v=1693550909 2000w,
                              //global.dreametech.com/cdn/shop/files/Frame_911_1800x.png?v=1693550909 1800w,
                              //global.dreametech.com/cdn/shop/files/Frame_911_1600x.png?v=1693550909 1600w,
                              //global.dreametech.com/cdn/shop/files/Frame_911_1400x.png?v=1693550909 1400w,
                              //global.dreametech.com/cdn/shop/files/Frame_911_1200x.png?v=1693550909 1200w,
                              //global.dreametech.com/cdn/shop/files/Frame_911_1000x.png?v=1693550909 1000w,
                              //global.dreametech.com/cdn/shop/files/Frame_911_800x.png?v=1693550909 800w,
                              //global.dreametech.com/cdn/shop/files/Frame_911_600x.png?v=1693550909 600w,
                              //global.dreametech.com/cdn/shop/files/Frame_911_400x.png?v=1693550909 400w,
                              //global.dreametech.com/cdn/shop/files/Frame_911_200x.png?v=1693550909 200w,"
                  style=";"
                  sizes="131px"
                  src="//global.dreametech.com/cdn/shop/files/Frame_911_1600x.png?v=1693550909">
              </div>

            </div>
            <div class="cell cell2">
              <div class="title">Robot x 1</div>
              <div class="image_container">
                <img
                  class="hidden"
                  src="//global.dreametech.com/cdn/shop/files/showitem_1_1200x.png?v=1693550958"
                  data-src="//global.dreametech.com/cdn/shop/files/showitem_1_1200x.png?v=1693550958">
                <img
                  alt=""
                  class=""
                  data-src="//global.dreametech.com/cdn/shop/files/showitem_1_1600x.png?v=1693550958"
                  data-sizes="auto"
                  data-srcset="//global.dreametech.com/cdn/shop/files/showitem_1_5000x.png?v=1693550958 5000w,
                        //global.dreametech.com/cdn/shop/files/showitem_1_4500x.png?v=1693550958 4500w,
                        //global.dreametech.com/cdn/shop/files/showitem_1_4000x.png?v=1693550958 4000w,
                        //global.dreametech.com/cdn/shop/files/showitem_1_3500x.png?v=1693550958 3500w,
                        //global.dreametech.com/cdn/shop/files/showitem_1_3000x.png?v=1693550958 3000w,
                        //global.dreametech.com/cdn/shop/files/showitem_1_2500x.png?v=1693550958 2500w,
                        //global.dreametech.com/cdn/shop/files/showitem_1_2000x.png?v=1693550958 2000w,
                        //global.dreametech.com/cdn/shop/files/showitem_1_1800x.png?v=1693550958 1800w,
                        //global.dreametech.com/cdn/shop/files/showitem_1_1600x.png?v=1693550958 1600w,
                        //global.dreametech.com/cdn/shop/files/showitem_1_1400x.png?v=1693550958 1400w,
                        //global.dreametech.com/cdn/shop/files/showitem_1_1200x.png?v=1693550958 1200w,
                        //global.dreametech.com/cdn/shop/files/showitem_1_1000x.png?v=1693550958 1000w,
                        //global.dreametech.com/cdn/shop/files/showitem_1_800x.png?v=1693550958 800w,
                        //global.dreametech.com/cdn/shop/files/showitem_1_600x.png?v=1693550958 600w,
                        //global.dreametech.com/cdn/shop/files/showitem_1_400x.png?v=1693550958 400w,
                        //global.dreametech.com/cdn/shop/files/showitem_1_200x.png?v=1693550958 200w,"
                  height="721"
                  width="721"
                  srcset="//global.dreametech.com/cdn/shop/files/showitem_1_5000x.png?v=1693550958 5000w,
                        //global.dreametech.com/cdn/shop/files/showitem_1_4500x.png?v=1693550958 4500w,
                        //global.dreametech.com/cdn/shop/files/showitem_1_4000x.png?v=1693550958 4000w,
                        //global.dreametech.com/cdn/shop/files/showitem_1_3500x.png?v=1693550958 3500w,
                        //global.dreametech.com/cdn/shop/files/showitem_1_3000x.png?v=1693550958 3000w,
                        //global.dreametech.com/cdn/shop/files/showitem_1_2500x.png?v=1693550958 2500w,
                        //global.dreametech.com/cdn/shop/files/showitem_1_2000x.png?v=1693550958 2000w,
                        //global.dreametech.com/cdn/shop/files/showitem_1_1800x.png?v=1693550958 1800w,
                        //global.dreametech.com/cdn/shop/files/showitem_1_1600x.png?v=1693550958 1600w,
                        //global.dreametech.com/cdn/shop/files/showitem_1_1400x.png?v=1693550958 1400w,
                        //global.dreametech.com/cdn/shop/files/showitem_1_1200x.png?v=1693550958 1200w,
                        //global.dreametech.com/cdn/shop/files/showitem_1_1000x.png?v=1693550958 1000w,
                        //global.dreametech.com/cdn/shop/files/showitem_1_800x.png?v=1693550958 800w,
                        //global.dreametech.com/cdn/shop/files/showitem_1_600x.png?v=1693550958 600w,
                        //global.dreametech.com/cdn/shop/files/showitem_1_400x.png?v=1693550958 400w,
                        //global.dreametech.com/cdn/shop/files/showitem_1_200x.png?v=1693550958 200w,"
                  style=";"
                  sizes="122px"
                  src="//global.dreametech.com/cdn/shop/files/showitem_1_1600x.png?v=1693550958">
              </div>
            </div>
            <div class="cell3">
              <div class="inner_cell1 cell">
                <div class="title">Base Station Ramp Extension Plate x 1</div>
                <div class="image_container">
                  <img
                    class="hidden"
                    src="//global.dreametech.com/cdn/shop/files/relpeijiandb_1200x.png?v=1693550935"
                    data-src="//global.dreametech.com/cdn/shop/files/relpeijiandb_1200x.png?v=1693550935">
                  <img
                    alt=""
                    class=""
                    data-src="//global.dreametech.com/cdn/shop/files/relpeijiandb_1600x.png?v=1693550935"
                    data-sizes="auto"
                    data-srcset="//global.dreametech.com/cdn/shop/files/relpeijiandb_5000x.png?v=1693550935 5000w,
                      //global.dreametech.com/cdn/shop/files/relpeijiandb_4500x.png?v=1693550935 4500w,
                      //global.dreametech.com/cdn/shop/files/relpeijiandb_4000x.png?v=1693550935 4000w,
                      //global.dreametech.com/cdn/shop/files/relpeijiandb_3500x.png?v=1693550935 3500w,
                      //global.dreametech.com/cdn/shop/files/relpeijiandb_3000x.png?v=1693550935 3000w,
                      //global.dreametech.com/cdn/shop/files/relpeijiandb_2500x.png?v=1693550935 2500w,
                      //global.dreametech.com/cdn/shop/files/relpeijiandb_2000x.png?v=1693550935 2000w,
                      //global.dreametech.com/cdn/shop/files/relpeijiandb_1800x.png?v=1693550935 1800w,
                      //global.dreametech.com/cdn/shop/files/relpeijiandb_1600x.png?v=1693550935 1600w,
                      //global.dreametech.com/cdn/shop/files/relpeijiandb_1400x.png?v=1693550935 1400w,
                      //global.dreametech.com/cdn/shop/files/relpeijiandb_1200x.png?v=1693550935 1200w,
                      //global.dreametech.com/cdn/shop/files/relpeijiandb_1000x.png?v=1693550935 1000w,
                      //global.dreametech.com/cdn/shop/files/relpeijiandb_800x.png?v=1693550935 800w,
                      //global.dreametech.com/cdn/shop/files/relpeijiandb_600x.png?v=1693550935 600w,
                      //global.dreametech.com/cdn/shop/files/relpeijiandb_400x.png?v=1693550935 400w,
                      //global.dreametech.com/cdn/shop/files/relpeijiandb_200x.png?v=1693550935 200w,"
                    height="222"
                    width="645"
                    srcset="//global.dreametech.com/cdn/shop/files/relpeijiandb_5000x.png?v=1693550935 5000w,
                      //global.dreametech.com/cdn/shop/files/relpeijiandb_4500x.png?v=1693550935 4500w,
                      //global.dreametech.com/cdn/shop/files/relpeijiandb_4000x.png?v=1693550935 4000w,
                      //global.dreametech.com/cdn/shop/files/relpeijiandb_3500x.png?v=1693550935 3500w,
                      //global.dreametech.com/cdn/shop/files/relpeijiandb_3000x.png?v=1693550935 3000w,
                      //global.dreametech.com/cdn/shop/files/relpeijiandb_2500x.png?v=1693550935 2500w,
                      //global.dreametech.com/cdn/shop/files/relpeijiandb_2000x.png?v=1693550935 2000w,
                      //global.dreametech.com/cdn/shop/files/relpeijiandb_1800x.png?v=1693550935 1800w,
                      //global.dreametech.com/cdn/shop/files/relpeijiandb_1600x.png?v=1693550935 1600w,
                      //global.dreametech.com/cdn/shop/files/relpeijiandb_1400x.png?v=1693550935 1400w,
                      //global.dreametech.com/cdn/shop/files/relpeijiandb_1200x.png?v=1693550935 1200w,
                      //global.dreametech.com/cdn/shop/files/relpeijiandb_1000x.png?v=1693550935 1000w,
                      //global.dreametech.com/cdn/shop/files/relpeijiandb_800x.png?v=1693550935 800w,
                      //global.dreametech.com/cdn/shop/files/relpeijiandb_600x.png?v=1693550935 600w,
                      //global.dreametech.com/cdn/shop/files/relpeijiandb_400x.png?v=1693550935 400w,
                      //global.dreametech.com/cdn/shop/files/relpeijiandb_200x.png?v=1693550935 200w,"
                    style=";"
                    sizes="77px"
                    src="//global.dreametech.com/cdn/shop/files/relpeijiandb_1600x.png?v=1693550935">
                </div>
              </div>
              <div class="inner_cell2 cell">
                <div class="title">Dust Collection Bag x2 (replacement)</div>
                <div class="image_container">
                  <img
                    class="hidden"
                    src="//global.dreametech.com/cdn/shop/files/relpeijian0010_1200x.png?v=1693551004"
                    data-src="//global.dreametech.com/cdn/shop/files/relpeijian0010_1200x.png?v=1693551004">
                  <img
                    alt=""
                    class=""
                    data-src="//global.dreametech.com/cdn/shop/files/relpeijian0010_1600x.png?v=1693551004"
                    data-sizes="auto"
                    data-srcset="//global.dreametech.com/cdn/shop/files/relpeijian0010_5000x.png?v=1693551004 5000w,
                          //global.dreametech.com/cdn/shop/files/relpeijian0010_4500x.png?v=1693551004 4500w,
                          //global.dreametech.com/cdn/shop/files/relpeijian0010_4000x.png?v=1693551004 4000w,
                          //global.dreametech.com/cdn/shop/files/relpeijian0010_3500x.png?v=1693551004 3500w,
                          //global.dreametech.com/cdn/shop/files/relpeijian0010_3000x.png?v=1693551004 3000w,
                          //global.dreametech.com/cdn/shop/files/relpeijian0010_2500x.png?v=1693551004 2500w,
                          //global.dreametech.com/cdn/shop/files/relpeijian0010_2000x.png?v=1693551004 2000w,
                          //global.dreametech.com/cdn/shop/files/relpeijian0010_1800x.png?v=1693551004 1800w,
                          //global.dreametech.com/cdn/shop/files/relpeijian0010_1600x.png?v=1693551004 1600w,
                          //global.dreametech.com/cdn/shop/files/relpeijian0010_1400x.png?v=1693551004 1400w,
                          //global.dreametech.com/cdn/shop/files/relpeijian0010_1200x.png?v=1693551004 1200w,
                          //global.dreametech.com/cdn/shop/files/relpeijian0010_1000x.png?v=1693551004 1000w,
                          //global.dreametech.com/cdn/shop/files/relpeijian0010_800x.png?v=1693551004 800w,
                          //global.dreametech.com/cdn/shop/files/relpeijian0010_600x.png?v=1693551004 600w,
                          //global.dreametech.com/cdn/shop/files/relpeijian0010_400x.png?v=1693551004 400w,
                          //global.dreametech.com/cdn/shop/files/relpeijian0010_200x.png?v=1693551004 200w,"
                    height="147"
                    width="324"
                    srcset="//global.dreametech.com/cdn/shop/files/relpeijian0010_5000x.png?v=1693551004 5000w,
                          //global.dreametech.com/cdn/shop/files/relpeijian0010_4500x.png?v=1693551004 4500w,
                          //global.dreametech.com/cdn/shop/files/relpeijian0010_4000x.png?v=1693551004 4000w,
                          //global.dreametech.com/cdn/shop/files/relpeijian0010_3500x.png?v=1693551004 3500w,
                          //global.dreametech.com/cdn/shop/files/relpeijian0010_3000x.png?v=1693551004 3000w,
                          //global.dreametech.com/cdn/shop/files/relpeijian0010_2500x.png?v=1693551004 2500w,
                          //global.dreametech.com/cdn/shop/files/relpeijian0010_2000x.png?v=1693551004 2000w,
                          //global.dreametech.com/cdn/shop/files/relpeijian0010_1800x.png?v=1693551004 1800w,
                          //global.dreametech.com/cdn/shop/files/relpeijian0010_1600x.png?v=1693551004 1600w,
                          //global.dreametech.com/cdn/shop/files/relpeijian0010_1400x.png?v=1693551004 1400w,
                          //global.dreametech.com/cdn/shop/files/relpeijian0010_1200x.png?v=1693551004 1200w,
                          //global.dreametech.com/cdn/shop/files/relpeijian0010_1000x.png?v=1693551004 1000w,
                          //global.dreametech.com/cdn/shop/files/relpeijian0010_800x.png?v=1693551004 800w,
                          //global.dreametech.com/cdn/shop/files/relpeijian0010_600x.png?v=1693551004 600w,
                          //global.dreametech.com/cdn/shop/files/relpeijian0010_400x.png?v=1693551004 400w,
                          //global.dreametech.com/cdn/shop/files/relpeijian0010_200x.png?v=1693551004 200w,"
                    style=";"
                    sizes="77px"
                    src="//global.dreametech.com/cdn/shop/files/relpeijian0010_1600x.png?v=1693551004">
                </div>
              </div>
            </div>
          </div>
          <div class="mid_row">
            <div class="cell mid_cell1">
              <div class="title">Quick Start Guide x 1</div>
              <div class="image_container">
                <img
                  class="hidden"
                  src="//global.dreametech.com/cdn/shop/files/QSG_1200x.jpg?v=1693893497"
                  data-src="//global.dreametech.com/cdn/shop/files/QSG_1200x.jpg?v=1693893497">
                <img
                  alt=""
                  class=""
                  data-src="//global.dreametech.com/cdn/shop/files/QSG_1600x.jpg?v=1693893497"
                  data-sizes="auto"
                  data-srcset="//global.dreametech.com/cdn/shop/files/QSG_5000x.jpg?v=1693893497 5000w,
                            //global.dreametech.com/cdn/shop/files/QSG_4500x.jpg?v=1693893497 4500w,
                            //global.dreametech.com/cdn/shop/files/QSG_4000x.jpg?v=1693893497 4000w,
                            //global.dreametech.com/cdn/shop/files/QSG_3500x.jpg?v=1693893497 3500w,
                            //global.dreametech.com/cdn/shop/files/QSG_3000x.jpg?v=1693893497 3000w,
                            //global.dreametech.com/cdn/shop/files/QSG_2500x.jpg?v=1693893497 2500w,
                            //global.dreametech.com/cdn/shop/files/QSG_2000x.jpg?v=1693893497 2000w,
                            //global.dreametech.com/cdn/shop/files/QSG_1800x.jpg?v=1693893497 1800w,
                            //global.dreametech.com/cdn/shop/files/QSG_1600x.jpg?v=1693893497 1600w,
                            //global.dreametech.com/cdn/shop/files/QSG_1400x.jpg?v=1693893497 1400w,
                            //global.dreametech.com/cdn/shop/files/QSG_1200x.jpg?v=1693893497 1200w,
                            //global.dreametech.com/cdn/shop/files/QSG_1000x.jpg?v=1693893497 1000w,
                            //global.dreametech.com/cdn/shop/files/QSG_800x.jpg?v=1693893497 800w,
                            //global.dreametech.com/cdn/shop/files/QSG_600x.jpg?v=1693893497 600w,
                            //global.dreametech.com/cdn/shop/files/QSG_400x.jpg?v=1693893497 400w,
                            //global.dreametech.com/cdn/shop/files/QSG_200x.jpg?v=1693893497 200w,"
                  height="419"
                  width="600"
                  srcset="//global.dreametech.com/cdn/shop/files/QSG_5000x.jpg?v=1693893497 5000w,
                            //global.dreametech.com/cdn/shop/files/QSG_4500x.jpg?v=1693893497 4500w,
                            //global.dreametech.com/cdn/shop/files/QSG_4000x.jpg?v=1693893497 4000w,
                            //global.dreametech.com/cdn/shop/files/QSG_3500x.jpg?v=1693893497 3500w,
                            //global.dreametech.com/cdn/shop/files/QSG_3000x.jpg?v=1693893497 3000w,
                            //global.dreametech.com/cdn/shop/files/QSG_2500x.jpg?v=1693893497 2500w,
                            //global.dreametech.com/cdn/shop/files/QSG_2000x.jpg?v=1693893497 2000w,
                            //global.dreametech.com/cdn/shop/files/QSG_1800x.jpg?v=1693893497 1800w,
                            //global.dreametech.com/cdn/shop/files/QSG_1600x.jpg?v=1693893497 1600w,
                            //global.dreametech.com/cdn/shop/files/QSG_1400x.jpg?v=1693893497 1400w,
                            //global.dreametech.com/cdn/shop/files/QSG_1200x.jpg?v=1693893497 1200w,
                            //global.dreametech.com/cdn/shop/files/QSG_1000x.jpg?v=1693893497 1000w,
                            //global.dreametech.com/cdn/shop/files/QSG_800x.jpg?v=1693893497 800w,
                            //global.dreametech.com/cdn/shop/files/QSG_600x.jpg?v=1693893497 600w,
                            //global.dreametech.com/cdn/shop/files/QSG_400x.jpg?v=1693893497 400w,
                            //global.dreametech.com/cdn/shop/files/QSG_200x.jpg?v=1693893497 200w,"
                  style=";"
                  sizes="77px"
                  src="//global.dreametech.com/cdn/shop/files/QSG_1600x.jpg?v=1693893497">
              </div>
            </div>
            <div class="cell mid_cell1">
              <div class="title">User Manual x 1</div>
              <div class="image_container">
                <img
                  class="hidden"
                  src="//global.dreametech.com/cdn/shop/files/relpeijian_6_1200x.png?v=1693551031"
                  data-src="//global.dreametech.com/cdn/shop/files/relpeijian_6_1200x.png?v=1693551031">
                <img
                  alt=""
                  class=""
                  data-src="//global.dreametech.com/cdn/shop/files/relpeijian_6_1600x.png?v=1693551031"
                  data-sizes="auto"
                  data-srcset="//global.dreametech.com/cdn/shop/files/relpeijian_6_5000x.png?v=1693551031 5000w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_6_4500x.png?v=1693551031 4500w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_6_4000x.png?v=1693551031 4000w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_6_3500x.png?v=1693551031 3500w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_6_3000x.png?v=1693551031 3000w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_6_2500x.png?v=1693551031 2500w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_6_2000x.png?v=1693551031 2000w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_6_1800x.png?v=1693551031 1800w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_6_1600x.png?v=1693551031 1600w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_6_1400x.png?v=1693551031 1400w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_6_1200x.png?v=1693551031 1200w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_6_1000x.png?v=1693551031 1000w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_6_800x.png?v=1693551031 800w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_6_600x.png?v=1693551031 600w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_6_400x.png?v=1693551031 400w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_6_200x.png?v=1693551031 200w,"
                  height="284"
                  width="426"
                  srcset="//global.dreametech.com/cdn/shop/files/relpeijian_6_5000x.png?v=1693551031 5000w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_6_4500x.png?v=1693551031 4500w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_6_4000x.png?v=1693551031 4000w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_6_3500x.png?v=1693551031 3500w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_6_3000x.png?v=1693551031 3000w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_6_2500x.png?v=1693551031 2500w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_6_2000x.png?v=1693551031 2000w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_6_1800x.png?v=1693551031 1800w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_6_1600x.png?v=1693551031 1600w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_6_1400x.png?v=1693551031 1400w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_6_1200x.png?v=1693551031 1200w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_6_1000x.png?v=1693551031 1000w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_6_800x.png?v=1693551031 800w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_6_600x.png?v=1693551031 600w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_6_400x.png?v=1693551031 400w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_6_200x.png?v=1693551031 200w,"
                  style=";"
                  sizes="77px"
                  src="//global.dreametech.com/cdn/shop/files/relpeijian_6_1600x.png?v=1693551031">
              </div>
            </div>
            <div class="cell mid_cell1">
              <div class="title">Mop Pad Holder x 2</div>
              <div class="image_container">
                <img
                  class="hidden"
                  src="//global.dreametech.com/cdn/shop/files/relpeijian_1_1200x.png?v=1693551073"
                  data-src="//global.dreametech.com/cdn/shop/files/relpeijian_1_1200x.png?v=1693551073">
                <img
                  alt=""
                  class=""
                  data-src="//global.dreametech.com/cdn/shop/files/relpeijian_1_1600x.png?v=1693551073"
                  data-sizes="auto"
                  data-srcset="//global.dreametech.com/cdn/shop/files/relpeijian_1_5000x.png?v=1693551073 5000w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_1_4500x.png?v=1693551073 4500w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_1_4000x.png?v=1693551073 4000w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_1_3500x.png?v=1693551073 3500w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_1_3000x.png?v=1693551073 3000w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_1_2500x.png?v=1693551073 2500w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_1_2000x.png?v=1693551073 2000w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_1_1800x.png?v=1693551073 1800w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_1_1600x.png?v=1693551073 1600w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_1_1400x.png?v=1693551073 1400w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_1_1200x.png?v=1693551073 1200w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_1_1000x.png?v=1693551073 1000w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_1_800x.png?v=1693551073 800w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_1_600x.png?v=1693551073 600w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_1_400x.png?v=1693551073 400w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_1_200x.png?v=1693551073 200w,"
                  height="209"
                  width="417"
                  srcset="//global.dreametech.com/cdn/shop/files/relpeijian_1_5000x.png?v=1693551073 5000w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_1_4500x.png?v=1693551073 4500w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_1_4000x.png?v=1693551073 4000w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_1_3500x.png?v=1693551073 3500w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_1_3000x.png?v=1693551073 3000w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_1_2500x.png?v=1693551073 2500w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_1_2000x.png?v=1693551073 2000w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_1_1800x.png?v=1693551073 1800w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_1_1600x.png?v=1693551073 1600w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_1_1400x.png?v=1693551073 1400w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_1_1200x.png?v=1693551073 1200w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_1_1000x.png?v=1693551073 1000w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_1_800x.png?v=1693551073 800w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_1_600x.png?v=1693551073 600w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_1_400x.png?v=1693551073 400w,
                      //global.dreametech.com/cdn/shop/files/relpeijian_1_200x.png?v=1693551073 200w,"
                  style=";"
                  sizes="77px"
                  src="//global.dreametech.com/cdn/shop/files/relpeijian_1_1600x.png?v=1693551073">
              </div>
            </div>
            <div class="cell mid_cell1">
              <div class="title">Mop Pad x 2</div>
              <div class="image_container">
                <img
                  class="hidden"
                  src="//global.dreametech.com/cdn/shop/files/Group_3854_1200x.png?v=1693551099"
                  data-src="//global.dreametech.com/cdn/shop/files/Group_3854_1200x.png?v=1693551099">
                <img
                  alt=""
                  class=""
                  data-src="//global.dreametech.com/cdn/shop/files/Group_3854_1600x.png?v=1693551099"
                  data-sizes="auto"
                  data-srcset="//global.dreametech.com/cdn/shop/files/Group_3854_5000x.png?v=1693551099 5000w,
                  //global.dreametech.com/cdn/shop/files/Group_3854_4500x.png?v=1693551099 4500w,
                  //global.dreametech.com/cdn/shop/files/Group_3854_4000x.png?v=1693551099 4000w,
                  //global.dreametech.com/cdn/shop/files/Group_3854_3500x.png?v=1693551099 3500w,
                  //global.dreametech.com/cdn/shop/files/Group_3854_3000x.png?v=1693551099 3000w,
                  //global.dreametech.com/cdn/shop/files/Group_3854_2500x.png?v=1693551099 2500w,
                  //global.dreametech.com/cdn/shop/files/Group_3854_2000x.png?v=1693551099 2000w,
                  //global.dreametech.com/cdn/shop/files/Group_3854_1800x.png?v=1693551099 1800w,
                  //global.dreametech.com/cdn/shop/files/Group_3854_1600x.png?v=1693551099 1600w,
                  //global.dreametech.com/cdn/shop/files/Group_3854_1400x.png?v=1693551099 1400w,
                  //global.dreametech.com/cdn/shop/files/Group_3854_1200x.png?v=1693551099 1200w,
                  //global.dreametech.com/cdn/shop/files/Group_3854_1000x.png?v=1693551099 1000w,
                  //global.dreametech.com/cdn/shop/files/Group_3854_800x.png?v=1693551099 800w,
                  //global.dreametech.com/cdn/shop/files/Group_3854_600x.png?v=1693551099 600w,
                  //global.dreametech.com/cdn/shop/files/Group_3854_400x.png?v=1693551099 400w,
                  //global.dreametech.com/cdn/shop/files/Group_3854_200x.png?v=1693551099 200w,"
                  height="208"
                  width="458"
                  srcset="//global.dreametech.com/cdn/shop/files/Group_3854_5000x.png?v=1693551099 5000w,
                  //global.dreametech.com/cdn/shop/files/Group_3854_4500x.png?v=1693551099 4500w,
                  //global.dreametech.com/cdn/shop/files/Group_3854_4000x.png?v=1693551099 4000w,
                  //global.dreametech.com/cdn/shop/files/Group_3854_3500x.png?v=1693551099 3500w,
                  //global.dreametech.com/cdn/shop/files/Group_3854_3000x.png?v=1693551099 3000w,
                  //global.dreametech.com/cdn/shop/files/Group_3854_2500x.png?v=1693551099 2500w,
                  //global.dreametech.com/cdn/shop/files/Group_3854_2000x.png?v=1693551099 2000w,
                  //global.dreametech.com/cdn/shop/files/Group_3854_1800x.png?v=1693551099 1800w,
                  //global.dreametech.com/cdn/shop/files/Group_3854_1600x.png?v=1693551099 1600w,
                  //global.dreametech.com/cdn/shop/files/Group_3854_1400x.png?v=1693551099 1400w,
                  //global.dreametech.com/cdn/shop/files/Group_3854_1200x.png?v=1693551099 1200w,
                  //global.dreametech.com/cdn/shop/files/Group_3854_1000x.png?v=1693551099 1000w,
                  //global.dreametech.com/cdn/shop/files/Group_3854_800x.png?v=1693551099 800w,
                  //global.dreametech.com/cdn/shop/files/Group_3854_600x.png?v=1693551099 600w,
                  //global.dreametech.com/cdn/shop/files/Group_3854_400x.png?v=1693551099 400w,
                  //global.dreametech.com/cdn/shop/files/Group_3854_200x.png?v=1693551099 200w,"
                  style=";"
                  sizes="77px"
                  src="//global.dreametech.com/cdn/shop/files/Group_3854_1600x.png?v=1693551099">
              </div>
            </div>
          </div>
          <div class="end_row">
            <div class="cell end_cell1">
              <div class="title">Power Cord x 1</div>
              <div class="image_container">
                <img
                  class="hidden"
                  src="//global.dreametech.com/cdn/shop/files/relpeijian_7_1200x.png?v=1693551168"
                  data-src="//global.dreametech.com/cdn/shop/files/relpeijian_7_1200x.png?v=1693551168">
                <img
                  alt=""
                  class=""
                  data-src="//global.dreametech.com/cdn/shop/files/relpeijian_7_1600x.png?v=1693551168"
                  data-sizes="auto"
                  data-srcset="//global.dreametech.com/cdn/shop/files/relpeijian_7_5000x.png?v=1693551168 5000w,
                          //global.dreametech.com/cdn/shop/files/relpeijian_7_4500x.png?v=1693551168 4500w,
                          //global.dreametech.com/cdn/shop/files/relpeijian_7_4000x.png?v=1693551168 4000w,
                          //global.dreametech.com/cdn/shop/files/relpeijian_7_3500x.png?v=1693551168 3500w,
                          //global.dreametech.com/cdn/shop/files/relpeijian_7_3000x.png?v=1693551168 3000w,
                          //global.dreametech.com/cdn/shop/files/relpeijian_7_2500x.png?v=1693551168 2500w,
                          //global.dreametech.com/cdn/shop/files/relpeijian_7_2000x.png?v=1693551168 2000w,
                          //global.dreametech.com/cdn/shop/files/relpeijian_7_1800x.png?v=1693551168 1800w,
                          //global.dreametech.com/cdn/shop/files/relpeijian_7_1600x.png?v=1693551168 1600w,
                          //global.dreametech.com/cdn/shop/files/relpeijian_7_1400x.png?v=1693551168 1400w,
                          //global.dreametech.com/cdn/shop/files/relpeijian_7_1200x.png?v=1693551168 1200w,
                          //global.dreametech.com/cdn/shop/files/relpeijian_7_1000x.png?v=1693551168 1000w,
                          //global.dreametech.com/cdn/shop/files/relpeijian_7_800x.png?v=1693551168 800w,
                          //global.dreametech.com/cdn/shop/files/relpeijian_7_600x.png?v=1693551168 600w,
                          //global.dreametech.com/cdn/shop/files/relpeijian_7_400x.png?v=1693551168 400w,
                          //global.dreametech.com/cdn/shop/files/relpeijian_7_200x.png?v=1693551168 200w,"
                  height="484"
                  width="504"
                  srcset="//global.dreametech.com/cdn/shop/files/relpeijian_7_5000x.png?v=1693551168 5000w,
                          //global.dreametech.com/cdn/shop/files/relpeijian_7_4500x.png?v=1693551168 4500w,
                          //global.dreametech.com/cdn/shop/files/relpeijian_7_4000x.png?v=1693551168 4000w,
                          //global.dreametech.com/cdn/shop/files/relpeijian_7_3500x.png?v=1693551168 3500w,
                          //global.dreametech.com/cdn/shop/files/relpeijian_7_3000x.png?v=1693551168 3000w,
                          //global.dreametech.com/cdn/shop/files/relpeijian_7_2500x.png?v=1693551168 2500w,
                          //global.dreametech.com/cdn/shop/files/relpeijian_7_2000x.png?v=1693551168 2000w,
                          //global.dreametech.com/cdn/shop/files/relpeijian_7_1800x.png?v=1693551168 1800w,
                          //global.dreametech.com/cdn/shop/files/relpeijian_7_1600x.png?v=1693551168 1600w,
                          //global.dreametech.com/cdn/shop/files/relpeijian_7_1400x.png?v=1693551168 1400w,
                          //global.dreametech.com/cdn/shop/files/relpeijian_7_1200x.png?v=1693551168 1200w,
                          //global.dreametech.com/cdn/shop/files/relpeijian_7_1000x.png?v=1693551168 1000w,
                          //global.dreametech.com/cdn/shop/files/relpeijian_7_800x.png?v=1693551168 800w,
                          //global.dreametech.com/cdn/shop/files/relpeijian_7_600x.png?v=1693551168 600w,
                          //global.dreametech.com/cdn/shop/files/relpeijian_7_400x.png?v=1693551168 400w,
                          //global.dreametech.com/cdn/shop/files/relpeijian_7_200x.png?v=1693551168 200w,"
                  style=";"
                  sizes="77px"
                  src="//global.dreametech.com/cdn/shop/files/relpeijian_7_1600x.png?v=1693551168">
              </div>
            </div>
            <div class="cell end_cell1">
              <div class="title">Side Brush x 1</div>
              <div class="image_container">
                <img
                  class="hidden"
                  src="//global.dreametech.com/cdn/shop/files/relpeijian10_1200x.png?v=1693551194"
                  data-src="//global.dreametech.com/cdn/shop/files/relpeijian10_1200x.png?v=1693551194">
                <img
                  alt=""
                  class="transition--fade-in lazyautosizes ls-is-cached lazyloaded"
                  data-src="//global.dreametech.com/cdn/shop/files/relpeijian10_1600x.png?v=1693551194"
                  data-sizes="auto"
                  data-srcset="//global.dreametech.com/cdn/shop/files/relpeijian10_5000x.png?v=1693551194 5000w,
                        //global.dreametech.com/cdn/shop/files/relpeijian10_4500x.png?v=1693551194 4500w,
                      //global.dreametech.com/cdn/shop/files/relpeijian10_4000x.png?v=1693551194 4000w,
                      //global.dreametech.com/cdn/shop/files/relpeijian10_3500x.png?v=1693551194 3500w,
                      //global.dreametech.com/cdn/shop/files/relpeijian10_3000x.png?v=1693551194 3000w,
                      //global.dreametech.com/cdn/shop/files/relpeijian10_2500x.png?v=1693551194 2500w,
                      //global.dreametech.com/cdn/shop/files/relpeijian10_2000x.png?v=1693551194 2000w,
                      //global.dreametech.com/cdn/shop/files/relpeijian10_1800x.png?v=1693551194 1800w,
                      //global.dreametech.com/cdn/shop/files/relpeijian10_1600x.png?v=1693551194 1600w,
                      //global.dreametech.com/cdn/shop/files/relpeijian10_1400x.png?v=1693551194 1400w,
                      //global.dreametech.com/cdn/shop/files/relpeijian10_1200x.png?v=1693551194 1200w,
                      //global.dreametech.com/cdn/shop/files/relpeijian10_1000x.png?v=1693551194 1000w,
                      //global.dreametech.com/cdn/shop/files/relpeijian10_800x.png?v=1693551194 800w,
                      //global.dreametech.com/cdn/shop/files/relpeijian10_600x.png?v=1693551194 600w,
                      //global.dreametech.com/cdn/shop/files/relpeijian10_400x.png?v=1693551194 400w,
                      //global.dreametech.com/cdn/shop/files/relpeijian10_200x.png?v=1693551194 200w,"
                  height="361"
                  width="361"
                  srcset="//global.dreametech.com/cdn/shop/files/relpeijian10_5000x.png?v=1693551194 5000w,
                      //global.dreametech.com/cdn/shop/files/relpeijian10_4500x.png?v=1693551194 4500w,
                      //global.dreametech.com/cdn/shop/files/relpeijian10_4000x.png?v=1693551194 4000w,
                      //global.dreametech.com/cdn/shop/files/relpeijian10_3500x.png?v=1693551194 3500w,
                      //global.dreametech.com/cdn/shop/files/relpeijian10_3000x.png?v=1693551194 3000w,
                      //global.dreametech.com/cdn/shop/files/relpeijian10_2500x.png?v=1693551194 2500w,
                      //global.dreametech.com/cdn/shop/files/relpeijian10_2000x.png?v=1693551194 2000w,
                      //global.dreametech.com/cdn/shop/files/relpeijian10_1800x.png?v=1693551194 1800w,
                      //global.dreametech.com/cdn/shop/files/relpeijian10_1600x.png?v=1693551194 1600w,
                      //global.dreametech.com/cdn/shop/files/relpeijian10_1400x.png?v=1693551194 1400w,
                      //global.dreametech.com/cdn/shop/files/relpeijian10_1200x.png?v=1693551194 1200w,
                      //global.dreametech.com/cdn/shop/files/relpeijian10_1000x.png?v=1693551194 1000w,
                      //global.dreametech.com/cdn/shop/files/relpeijian10_800x.png?v=1693551194 800w,
                      //global.dreametech.com/cdn/shop/files/relpeijian10_600x.png?v=1693551194 600w,
                      //global.dreametech.com/cdn/shop/files/relpeijian10_400x.png?v=1693551194 400w,
                      //global.dreametech.com/cdn/shop/files/relpeijian10_200x.png?v=1693551194 200w,"
                  style=";"
                  sizes="77px"
                  src="//global.dreametech.com/cdn/shop/files/relpeijian10_1600x.png?v=1693551194">
              </div>
            </div>
            <div class="cell end_cell1">
              <div class="title">Cleaning Tool x 1</div>
              <div class="image_container">
                <img
                  class="hidden"
                  src="//global.dreametech.com/cdn/shop/files/relpeijian_8_1200x.png?v=1693551171"
                  data-src="//global.dreametech.com/cdn/shop/files/relpeijian_8_1200x.png?v=1693551171">
                <img
                  alt=""
                  class="transition--fade-in lazyautosizes ls-is-cached lazyloaded"
                  data-src="//global.dreametech.com/cdn/shop/files/relpeijian_8_1600x.png?v=1693551171"
                  data-sizes="auto"
                  data-srcset="//global.dreametech.com/cdn/shop/files/relpeijian_8_5000x.png?v=1693551171 5000w,
                  //global.dreametech.com/cdn/shop/files/relpeijian_8_4500x.png?v=1693551171 4500w,
                  //global.dreametech.com/cdn/shop/files/relpeijian_8_4000x.png?v=1693551171 4000w,
                  //global.dreametech.com/cdn/shop/files/relpeijian_8_3500x.png?v=1693551171 3500w,
                  //global.dreametech.com/cdn/shop/files/relpeijian_8_3000x.png?v=1693551171 3000w,
                  //global.dreametech.com/cdn/shop/files/relpeijian_8_2500x.png?v=1693551171 2500w,
                  //global.dreametech.com/cdn/shop/files/relpeijian_8_2000x.png?v=1693551171 2000w,
                  //global.dreametech.com/cdn/shop/files/relpeijian_8_1800x.png?v=1693551171 1800w,
                  //global.dreametech.com/cdn/shop/files/relpeijian_8_1600x.png?v=1693551171 1600w,
                  //global.dreametech.com/cdn/shop/files/relpeijian_8_1400x.png?v=1693551171 1400w,
                  //global.dreametech.com/cdn/shop/files/relpeijian_8_1200x.png?v=1693551171 1200w,
                  //global.dreametech.com/cdn/shop/files/relpeijian_8_1000x.png?v=1693551171 1000w,
                  //global.dreametech.com/cdn/shop/files/relpeijian_8_800x.png?v=1693551171 800w,
                  //global.dreametech.com/cdn/shop/files/relpeijian_8_600x.png?v=1693551171 600w,
                  //global.dreametech.com/cdn/shop/files/relpeijian_8_400x.png?v=1693551171 400w,
                  //global.dreametech.com/cdn/shop/files/relpeijian_8_200x.png?v=1693551171 200w,"
                  height="462"
                  width="462"
                  srcset="//global.dreametech.com/cdn/shop/files/relpeijian_8_5000x.png?v=1693551171 5000w,
                  //global.dreametech.com/cdn/shop/files/relpeijian_8_4500x.png?v=1693551171 4500w,
                  //global.dreametech.com/cdn/shop/files/relpeijian_8_4000x.png?v=1693551171 4000w,
                  //global.dreametech.com/cdn/shop/files/relpeijian_8_3500x.png?v=1693551171 3500w,
                  //global.dreametech.com/cdn/shop/files/relpeijian_8_3000x.png?v=1693551171 3000w,
                  //global.dreametech.com/cdn/shop/files/relpeijian_8_2500x.png?v=1693551171 2500w,
                  //global.dreametech.com/cdn/shop/files/relpeijian_8_2000x.png?v=1693551171 2000w,
                  //global.dreametech.com/cdn/shop/files/relpeijian_8_1800x.png?v=1693551171 1800w,
                  //global.dreametech.com/cdn/shop/files/relpeijian_8_1600x.png?v=1693551171 1600w,
                  //global.dreametech.com/cdn/shop/files/relpeijian_8_1400x.png?v=1693551171 1400w,
                  //global.dreametech.com/cdn/shop/files/relpeijian_8_1200x.png?v=1693551171 1200w,
                  //global.dreametech.com/cdn/shop/files/relpeijian_8_1000x.png?v=1693551171 1000w,
                  //global.dreametech.com/cdn/shop/files/relpeijian_8_800x.png?v=1693551171 800w,
                  //global.dreametech.com/cdn/shop/files/relpeijian_8_600x.png?v=1693551171 600w,
                  //global.dreametech.com/cdn/shop/files/relpeijian_8_400x.png?v=1693551171 400w,
                  //global.dreametech.com/cdn/shop/files/relpeijian_8_200x.png?v=1693551171 200w,"
                  style=";"
                  sizes="77px"
                  src="//global.dreametech.com/cdn/shop/files/relpeijian_8_1600x.png?v=1693551171">
              </div>
            </div>
            <div class="cell end_cell1">
              <div class="title">Multi-Surface Floor Cleaner x1</div>
              <div class="image_container">
                <img
                  class="hidden"
                  src="//global.dreametech.com/cdn/shop/files/relpeijian_9_1200x.png?v=1693551173"
                  data-src="//global.dreametech.com/cdn/shop/files/relpeijian_9_1200x.png?v=1693551173">
                <img
                  alt=""
                  class="transition--fade-in lazyautosizes ls-is-cached lazyloaded"
                  data-src="//global.dreametech.com/cdn/shop/files/relpeijian_9_1600x.png?v=1693551173"
                  data-sizes="auto"
                  data-srcset="//global.dreametech.com/cdn/shop/files/relpeijian_9_5000x.png?v=1693551173 5000w,
                    //global.dreametech.com/cdn/shop/files/relpeijian_9_4500x.png?v=1693551173 4500w,
                    //global.dreametech.com/cdn/shop/files/relpeijian_9_4000x.png?v=1693551173 4000w,
                    //global.dreametech.com/cdn/shop/files/relpeijian_9_3500x.png?v=1693551173 3500w,
                    //global.dreametech.com/cdn/shop/files/relpeijian_9_3000x.png?v=1693551173 3000w,
                    //global.dreametech.com/cdn/shop/files/relpeijian_9_2500x.png?v=1693551173 2500w,
                    //global.dreametech.com/cdn/shop/files/relpeijian_9_2000x.png?v=1693551173 2000w,
                    //global.dreametech.com/cdn/shop/files/relpeijian_9_1800x.png?v=1693551173 1800w,
                    //global.dreametech.com/cdn/shop/files/relpeijian_9_1600x.png?v=1693551173 1600w,
                    //global.dreametech.com/cdn/shop/files/relpeijian_9_1400x.png?v=1693551173 1400w,
                    //global.dreametech.com/cdn/shop/files/relpeijian_9_1200x.png?v=1693551173 1200w,
                    //global.dreametech.com/cdn/shop/files/relpeijian_9_1000x.png?v=1693551173 1000w,
                    //global.dreametech.com/cdn/shop/files/relpeijian_9_800x.png?v=1693551173 800w,
                    //global.dreametech.com/cdn/shop/files/relpeijian_9_600x.png?v=1693551173 600w,
                    //global.dreametech.com/cdn/shop/files/relpeijian_9_400x.png?v=1693551173 400w,
                    //global.dreametech.com/cdn/shop/files/relpeijian_9_200x.png?v=1693551173 200w,"
                  height="385"
                  width="385"
                  srcset="//global.dreametech.com/cdn/shop/files/relpeijian_9_5000x.png?v=1693551173 5000w,
                    //global.dreametech.com/cdn/shop/files/relpeijian_9_4500x.png?v=1693551173 4500w,
                    //global.dreametech.com/cdn/shop/files/relpeijian_9_4000x.png?v=1693551173 4000w,
                    //global.dreametech.com/cdn/shop/files/relpeijian_9_3500x.png?v=1693551173 3500w,
                    //global.dreametech.com/cdn/shop/files/relpeijian_9_3000x.png?v=1693551173 3000w,
                    //global.dreametech.com/cdn/shop/files/relpeijian_9_2500x.png?v=1693551173 2500w,
                    //global.dreametech.com/cdn/shop/files/relpeijian_9_2000x.png?v=1693551173 2000w,
                    //global.dreametech.com/cdn/shop/files/relpeijian_9_1800x.png?v=1693551173 1800w,
                    //global.dreametech.com/cdn/shop/files/relpeijian_9_1600x.png?v=1693551173 1600w,
                    //global.dreametech.com/cdn/shop/files/relpeijian_9_1400x.png?v=1693551173 1400w,
                    //global.dreametech.com/cdn/shop/files/relpeijian_9_1200x.png?v=1693551173 1200w,
                    //global.dreametech.com/cdn/shop/files/relpeijian_9_1000x.png?v=1693551173 1000w,
                    //global.dreametech.com/cdn/shop/files/relpeijian_9_800x.png?v=1693551173 800w,
                    //global.dreametech.com/cdn/shop/files/relpeijian_9_600x.png?v=1693551173 600w,
                    //global.dreametech.com/cdn/shop/files/relpeijian_9_400x.png?v=1693551173 400w,
                    //global.dreametech.com/cdn/shop/files/relpeijian_9_200x.png?v=1693551173 200w,"
                  style=";"
                  sizes="77px"
                  src="//global.dreametech.com/cdn/shop/files/relpeijian_9_1600x.png?v=1693551173">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="specifications_container">
      <div class="main_specifications_content">
        <img
          alt=""
          class="img2_spec"
          data-src="//global.dreametech.com/cdn/shop/files/prospecs_2_1600x.png?v=1693551277"
          data-sizes="auto"
          data-srcset="//global.dreametech.com/cdn/shop/files/prospecs_2_5000x.png?v=1693551277 5000w,
              //global.dreametech.com/cdn/shop/files/prospecs_2_4500x.png?v=1693551277 4500w,
              //global.dreametech.com/cdn/shop/files/prospecs_2_4000x.png?v=1693551277 4000w,
              //global.dreametech.com/cdn/shop/files/prospecs_2_3500x.png?v=1693551277 3500w,
              //global.dreametech.com/cdn/shop/files/prospecs_2_3000x.png?v=1693551277 3000w,
              //global.dreametech.com/cdn/shop/files/prospecs_2_2500x.png?v=1693551277 2500w,
              //global.dreametech.com/cdn/shop/files/prospecs_2_2000x.png?v=1693551277 2000w,
              //global.dreametech.com/cdn/shop/files/prospecs_2_1800x.png?v=1693551277 1800w,
              //global.dreametech.com/cdn/shop/files/prospecs_2_1600x.png?v=1693551277 1600w,
              //global.dreametech.com/cdn/shop/files/prospecs_2_1400x.png?v=1693551277 1400w,
              //global.dreametech.com/cdn/shop/files/prospecs_2_1200x.png?v=1693551277 1200w,
              //global.dreametech.com/cdn/shop/files/prospecs_2_1000x.png?v=1693551277 1000w,
              //global.dreametech.com/cdn/shop/files/prospecs_2_800x.png?v=1693551277 800w,
              //global.dreametech.com/cdn/shop/files/prospecs_2_600x.png?v=1693551277 600w,
              //global.dreametech.com/cdn/shop/files/prospecs_2_400x.png?v=1693551277 400w,
              //global.dreametech.com/cdn/shop/files/prospecs_2_200x.png?v=1693551277 200w,"
          height="631"
          width="631"
          srcset="//global.dreametech.com/cdn/shop/files/prospecs_2_5000x.png?v=1693551277 5000w,
              //global.dreametech.com/cdn/shop/files/prospecs_2_4500x.png?v=1693551277 4500w,
              //global.dreametech.com/cdn/shop/files/prospecs_2_4000x.png?v=1693551277 4000w,
              //global.dreametech.com/cdn/shop/files/prospecs_2_3500x.png?v=1693551277 3500w,
              //global.dreametech.com/cdn/shop/files/prospecs_2_3000x.png?v=1693551277 3000w,
              //global.dreametech.com/cdn/shop/files/prospecs_2_2500x.png?v=1693551277 2500w,
              //global.dreametech.com/cdn/shop/files/prospecs_2_2000x.png?v=1693551277 2000w,
              //global.dreametech.com/cdn/shop/files/prospecs_2_1800x.png?v=1693551277 1800w,
              //global.dreametech.com/cdn/shop/files/prospecs_2_1600x.png?v=1693551277 1600w,
              //global.dreametech.com/cdn/shop/files/prospecs_2_1400x.png?v=1693551277 1400w,
              //global.dreametech.com/cdn/shop/files/prospecs_2_1200x.png?v=1693551277 1200w,
              //global.dreametech.com/cdn/shop/files/prospecs_2_1000x.png?v=1693551277 1000w,
              //global.dreametech.com/cdn/shop/files/prospecs_2_800x.png?v=1693551277 800w,
              //global.dreametech.com/cdn/shop/files/prospecs_2_600x.png?v=1693551277 600w,
              //global.dreametech.com/cdn/shop/files/prospecs_2_400x.png?v=1693551277 400w,
              //global.dreametech.com/cdn/shop/files/prospecs_2_200x.png?v=1693551277 200w,"
          style=";"
          sizes="225px"
          src="//global.dreametech.com/cdn/shop/files/prospecs_2_1600x.png?v=1693551277">
        <img
          alt=""
          class="img1_spec"
          data-src="//global.dreametech.com/cdn/shop/files/prospecs_1_1600x.png?v=1693551275"
          data-sizes="auto"
          data-srcset="//global.dreametech.com/cdn/shop/files/prospecs_1_5000x.png?v=1693551275 5000w,
            //global.dreametech.com/cdn/shop/files/prospecs_1_4500x.png?v=1693551275 4500w,
            //global.dreametech.com/cdn/shop/files/prospecs_1_4000x.png?v=1693551275 4000w,
            //global.dreametech.com/cdn/shop/files/prospecs_1_3500x.png?v=1693551275 3500w,
            //global.dreametech.com/cdn/shop/files/prospecs_1_3000x.png?v=1693551275 3000w,
            //global.dreametech.com/cdn/shop/files/prospecs_1_2500x.png?v=1693551275 2500w,
            //global.dreametech.com/cdn/shop/files/prospecs_1_2000x.png?v=1693551275 2000w,
            //global.dreametech.com/cdn/shop/files/prospecs_1_1800x.png?v=1693551275 1800w,
            //global.dreametech.com/cdn/shop/files/prospecs_1_1600x.png?v=1693551275 1600w,
            //global.dreametech.com/cdn/shop/files/prospecs_1_1400x.png?v=1693551275 1400w,
            //global.dreametech.com/cdn/shop/files/prospecs_1_1200x.png?v=1693551275 1200w,
            //global.dreametech.com/cdn/shop/files/prospecs_1_1000x.png?v=1693551275 1000w,
            //global.dreametech.com/cdn/shop/files/prospecs_1_800x.png?v=1693551275 800w,
            //global.dreametech.com/cdn/shop/files/prospecs_1_600x.png?v=1693551275 600w,
            //global.dreametech.com/cdn/shop/files/prospecs_1_400x.png?v=1693551275 400w,
            //global.dreametech.com/cdn/shop/files/prospecs_1_200x.png?v=1693551275 200w,"
          height="451"
          width="451"
          srcset="//global.dreametech.com/cdn/shop/files/prospecs_1_5000x.png?v=1693551275 5000w,
            //global.dreametech.com/cdn/shop/files/prospecs_1_4500x.png?v=1693551275 4500w,
            //global.dreametech.com/cdn/shop/files/prospecs_1_4000x.png?v=1693551275 4000w,
            //global.dreametech.com/cdn/shop/files/prospecs_1_3500x.png?v=1693551275 3500w,
            //global.dreametech.com/cdn/shop/files/prospecs_1_3000x.png?v=1693551275 3000w,
            //global.dreametech.com/cdn/shop/files/prospecs_1_2500x.png?v=1693551275 2500w,
            //global.dreametech.com/cdn/shop/files/prospecs_1_2000x.png?v=1693551275 2000w,
            //global.dreametech.com/cdn/shop/files/prospecs_1_1800x.png?v=1693551275 1800w,
            //global.dreametech.com/cdn/shop/files/prospecs_1_1600x.png?v=1693551275 1600w,
            //global.dreametech.com/cdn/shop/files/prospecs_1_1400x.png?v=1693551275 1400w,
            //global.dreametech.com/cdn/shop/files/prospecs_1_1200x.png?v=1693551275 1200w,
            //global.dreametech.com/cdn/shop/files/prospecs_1_1000x.png?v=1693551275 1000w,
            //global.dreametech.com/cdn/shop/files/prospecs_1_800x.png?v=1693551275 800w,
            //global.dreametech.com/cdn/shop/files/prospecs_1_600x.png?v=1693551275 600w,
            //global.dreametech.com/cdn/shop/files/prospecs_1_400x.png?v=1693551275 400w,
            //global.dreametech.com/cdn/shop/files/prospecs_1_200x.png?v=1693551275 200w,"
          style=";"
          sizes="225px"
          src="//global.dreametech.com/cdn/shop/files/prospecs_1_1600x.png?v=1693551275">

        <h1 class="title">Specifications</h1>
        <div class="specification_section_top">
          <h2 class="title_section">Robot Vacuum
          </h2>

          <div class="spec">
            <span class="spec_name">Product Dimensions</span>
            <span class="spec_value">350 x 350 x 103.8mm(13 x 13 x 4 in)</span>
          </div>
          <div class="spec">
            <span class="spec_name">Weight</span>
            <span class="spec_value">34.3kg (9.5 lbs)</span>
          </div>
          <div class="spec">
            <span class="spec_name">Battery Capacity
            </span>
            <span class="spec_value">6,400mAh</span>
          </div>
          <div class="spec">
            <span class="spec_name">Dust Box Volume</span>
            <span class="spec_value">300mL</span>
          </div>
          <div class="spec">
            <span class="spec_name">Water Tank Volume
            </span>
            <span class="spec_value">
              80mL</span>
          </div>
          <div class="spec">
            <span class="spec_name">Maximum Suction</span>
            <span class="spec_value">
              7,000Pa</span>
          </div>
          <div class="spec">
            <span class="spec_name">Threshold Crossing</span>
            <span class="spec_value">
              2cm (0.78in)</span>
          </div>
          <div class="spec last">
            <span class="spec_name">Lowest Noise
            </span>
            <span class="spec_value">63dB(A)¹³</span>
          </div>

        </div>
        <div class="specification_section_top">
          <h2 class="title_section">Base Station

          </h2>

          <div class="spec">
            <span class="spec_name">Product Dimensions</span>
            <span class="spec_value">606.5 x 426 x 499mm (23.8 x 16.7 x 19.6 in)</span>
          </div>
          <div class="spec">
            <span class="spec_name">Weight</span>
            <span class="spec_value">13.3kg (29.3 lbs)
            </span>
          </div>
          <div class="spec">
            <span class="spec_name">Dust Bag Volume

            </span>
            <span class="spec_value">3.2L
            </span>
          </div>
          <div class="spec">
            <span class="spec_name">Clean Water Tank
            </span>
            <span class="spec_value">4.5L</span>
          </div>
          <div class="spec last">
            <span class="spec_name">Maximum Runtime¹⁴
            </span>
            <span class="spec_value">260mins (Vacuuming only or Mopping only in Quiet Mode) 180mins (Vacuuming and Mopping n Quiet Mode)</span>
          </div>

        </div>
        <div class="tips-content">
          <div class="common-tips">
            *The product images and video here are for illustration purposes only. Actual appearance and form may vary.
          </div>
          <div class="common-tips">
            1.Most advanced: Compared to other L series robot vacuums.
          </div>
          <div class="common-tips">
            2.Fully automatic, all-in-one: Dust collection, mop washing and drying, water and solution adding, automatic water refilling and draining combined with easy base staion cleaning.
          </div>
          <div class="common-tips">
            3.Certified by TÜV SÜD as the closest deliverable edge-cleaning distance.
          </div>
          <div class="common-tips">
            4.A liftable rubber brush, in silence: Tested on mop-only mode.
          </div>
          <div class="common-tips">
            5.75 days: Based on calculations derived from environment testing in Dreame’s lab. Actual performance may vary depending on real-world environment and usage.
          </div>
          <div class="common-tips">
            6.300m² (3,229ft²): The maximum possible cleaning area based on tests in Dreame’s lab in which the 4.5L tank in the base station was fully filled.
          </div>
          <div class="common-tips">
            7.7,000Pa: Based on tests in Dreame’s lab. Actual performance may vary depending on the real-world environment and usage.
          </div>
          <div class="common-tips">
            8.Mop Removal: The mop removal function must be set in the Dreamehome app. It is off by default. Users will need to turn it on before using.
          </div>
          <div class="common-tips">
            9.10.5mm: The bottom of the mop pads can be lifted as high as 10.5mm from the floor. For carpets with piles greater than 7mm, set L20 Ultra to avoid carpets or remove the mop pads before cleaning.
          </div>
          <div class="common-tips">
            10.55 types of objects: Based on a calculation derived from environment testing in Dreame’s lab.
          </div>
          <div class="common-tips">
            11.30% Faster Charging: Compared to previous Dreame robot models.
          </div>
          <div class="common-tips">
            12.Voice Control: Alexa, Siri, and the Google Assistant are a third-party service requiring a device that integrates the relevant voice control technology. The Dreamehome app is required for Siri.
          </div>
          <div class="common-tips">
            13.63dB(A): The lowest noise measured was measured while the device was in mopping mode.
          </div>
          <div class="common-tips">
            14.Maximum Runtime: The actual runtime may vary due to settings regarding self-cleaning frequency and carpet cleaning.
          </div>
        </div>
      </div>
    </div>
  </div>

</div>