{{ 'objects-identified-component.css' | asset_url | stylesheet_tag }}
<div class="objects_identified_component">
  <div class="text_description_container_object_recog">
    <h1>More Insight and Intelligence
    </h1>
    <p>
      <strong>Pathfinder™ Smart Navigation, AI Action</strong>, and the
      <strong>3D Structured Light</strong>
      Obstacle Avoidance System combine to learn you home,
      <strong>identify 55 different types of obstacles</strong>, and plan how to clean more effectively.</p>
  </div>
  <img src="//global.dreametech.com/cdn/shop/files/annnibo1.png?v=1693550227" data-src="//global.dreametech.com/cdn/shop/files/annnibo1.png?v=1693550227">
</div>