{{ 'objects-identified-component.css' | asset_url | stylesheet_tag }}
<div class="objects_identified_component">
  <div class="horizontal_scroll_container">
    <div class="inside_container_horizontal_scroll">
      <div class="scroll_bar_horizontal">
        <div class="progress_horizontal_scroll"></div>
        <div class="remove_button_scroll">
          <svg width="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.1925 6.00928L12.0525 10.8994L10.9325 12.0193L6.07251 7.12939L1.1825 12.0193L0.0625 10.8994L4.95251 6.00928L0.0625 1.14941L1.1825 0.0292969L6.07251 4.8894L10.9325 0.0292969L12.0525 1.14941L7.1925 6.00928Z" fill="white"></path></svg>
        </div>
      </div>     
      
      <div class="moving_section_element">
        <span class="moving_section_element_span">Auto-generate paths according to the type of obstacle, flooring, and room.</span>
        <lottie-player  src="https://cdn.shopify.com/s/files/1/0302/5276/1220/files/l20.json?v=1695373321" background="transparent" speed="1" loop="" autoplay="" class="lottie mask-group"></lottie-player>
      </div>
      <div class="middle_section_identified_objects">
        <div class="image_container"><img alt="" src="//global.dreametech.com/cdn/shop/files/20_2x_a668accf-580b-4193-aa92-57a6a3c1e3a5.webp?v=1693550266" data-src="//global.dreametech.com/cdn/shop/files/20_2x_a668accf-580b-4193-aa92-57a6a3c1e3a5.webp?v=1693550266" ></div>
        <p>AI-powered navigation ensures your whole home is cleaned efficiently and effectively, <strong>reducing missed spots, repeated cleaning, getting lost, or getting stuck.</strong></p>
      </div>
      <div class="middle_section_identified_objects end_section_scroll">
        <div class="image_container"><img alt="" src="//global.dreametech.com/cdn/shop/files/frfive_1.png?v=1693550271" data-src="//global.dreametech.com/cdn/shop/files/frfive_1.png?v=1693550271" class=" lazyloaded"></div>
        <p>Get cleaning sooner with fast mapping that generates a <strong>3D map</strong> of your home.</p>
      </div>
    </div>
  </div>
  <div class="text_description_container_object_recog">
    <h1>More Insight and Intelligence
    </h1>
    <p>
      <strong>Pathfinder™ Smart Navigation, AI Action</strong>, and the
      <strong>3D Structured Light</strong>
      Obstacle Avoidance System combine to learn you home,
      <strong>identify 55 different types of obstacles</strong>, and plan how to clean more effectively.</p>
  </div>
  <div class="types_of_objects_button_container"> 
    <span class="top_title_">Identifies</span>
    <span class="middle_title_">55</span>
    <span class="bottom_title_">Types of Objects¹⁰</span>
    <div class="img_click_container">
      <img src="https://cdn.shopify.com/s/files/1/0584/7508/6033/files/rarrowper.png?v=1691392652">
    </div>
  </div>

  <img
    class="identified_objects_img"
    src="//global.dreametech.com/cdn/shop/files/annnibo1.png?v=1693550227"
    data-src="//global.dreametech.com/cdn/shop/files/annnibo1.png?v=1693550227">
</div>