{{ 'path-finder-feature-component.css' | asset_url | stylesheet_tag }}
<div class="path_finder_feature_component">
  <video
    playsinline=""
    data-video-element=""
    data-html5-video=""
    autoplay="autoplay"
    muted=""
    loop=""
    draggable="true">
    <source src="https://cdn.shopify.com/videos/c/o/v/931336d3490e4dc8ba223317419e9c48.mp4" type="video/mp4"></video>
  <div class="text_feature_description">
    <div class="title_with_background">Pathfinder™ Smart Navigation
    </div>

    <div class="title_feature">Learns Your Home
    </div>
    <h2>Pathfinder™ Smart Navigation</h2>
    <div class="paragraph1">
      Sophisticated Pathfinder™
      <strong>Smart Navigation technology enables fast mapping</strong>
      and accurate path planning so your robot cleans in neat rows or
      <strong>quickly navigates to specific areas for spot cleaning</strong>.
    </div>
  </div>
</div>