{{ 'product-features-cards-component.css' | asset_url | stylesheet_tag }}
<div class="product_features_cards_component_container">
  <div class="overlay_feature_animation_container">
    <div class="image_container_feature">
      <img
        src="//global.dreametech.com/cdn/shop/files/L20-Ultra-_-Mop-Extend.webp?v=1693549987"
        data-src="//global.dreametech.com/cdn/shop/files/L20-Ultra-_-Mop-Extend.webp?v=1693549987"
        class=" lazyloaded">
    </div>
    <div class="text_description_overlay_feature_container">
      <h1>Intelligent Edge Cleaning</h1>
      <p>Intelligent Edge Cleaning Get a deeper clean throughout your home with Dreame’s exclusive AI-driven
        <span>MopExtend™ Technology³</span>
        and impressive
        <span>DuoScrub™ Mopping System</span>
        . Enjoy detailed mopping that leaves floors remarkably well cleaned and makes the whole room shine.</p>
    </div>
  </div>
  <div class="features_cards_container">
    <div class="wide_card_top_feature_container">
      <div class="img_container">
        <img
          alt="Auto Robot Care and Maintenance"
          src="//global.dreametech.com/cdn/shop/files/Clip_path_groupadd003.png?v=1693549274"
          data-src="//global.dreametech.com/cdn/shop/files/Clip_path_groupadd003.png?v=1693549274"
          class=" lazyloaded">
      </div>
      <h1 class="title_card_feature_product">Auto Robot Care and Maintenance</h1>
      <h2 class="sub_title_card_feature_product">Versatile and Fully Automatic Base Station</h2>
    </div>
    <div class="card_feature_product card1">
      <div class="img_container">
        <img
          alt="Intelligent Edge Cleaning"
          src="//global.dreametech.com/cdn/shop/files/3_2x_66dd2d1e-eb40-4974-830e-77848924e647.webp?v=1693549341"
          data-src="//global.dreametech.com/cdn/shop/files/3_2x_66dd2d1e-eb40-4974-830e-77848924e647.webp?v=1693549341"
          class=" lazyloaded">
      </div>
      <h1 class="title_card_feature_product">Intelligent Edge Cleaning</h1>
      <h2 class="sub_title_card_feature_product">MopExtend™Technology <br>DuoScrub™ Mopping System</h2>
    </div>
    <div class="card_feature_product card2">
      <div class="img_container">
        <img
          alt="Powerful and Advanced Cleaning System"
          src="//global.dreametech.com/cdn/shop/files/4_2x_f235219f-0b26-4275-aa75-e73c54ad3ffd.webp?v=1693549349"
          data-src="//global.dreametech.com/cdn/shop/files/4_2x_f235219f-0b26-4275-aa75-e73c54ad3ffd.webp?v=1693549349"
          class=" lazyloaded">
      </div>
      <h1 class="title_card_feature_product">Powerful and Advanced Cleaning System</h1>
      <h2 class="sub_title_card_feature_product">Vormax™ Suction</h2>
    </div>
    <div class="card_feature_product card3">
      <div class="img_container">
        <img
          alt="More Insight and Intelligence"
          src="//global.dreametech.com/cdn/shop/files/5_2x_5ee719df-312e-4b70-8f68-6d7176ffe322.webp?v=1693549357"
          data-src="//global.dreametech.com/cdn/shop/files/5_2x_5ee719df-312e-4b70-8f68-6d7176ffe322.webp?v=1693549357"
          class=" lazyloaded">
      </div>
      <h1 class="title_card_feature_product">More Insight and Intelligence</h1>
      <h2 class="sub_title_card_feature_product">Pathfinder™ Smart Navigation <br>
        AI Action <br>
        3D Structured Light
      </h2>
    </div>
    <div class="card_feature_product card4">
      <div class="img_container">
        <img
          alt="Enjoy Optimized Cleaning Strategy"
          src="//global.dreametech.com/cdn/shop/files/Clip_path_group-3.webp?v=1693549362"
          data-src="//global.dreametech.com/cdn/shop/files/Clip_path_group-3.webp?v=1693549362"
          class=" ls-is-cached lazyloaded">
      </div>
      <h1 class="title_card_feature_product">Enjoy Optimized Cleaning Strategy</h1>
      <h2 class="sub_title_card_feature_product">CleanGenius™</h2>
    </div>
  </div>
</div>