{{ 'special-feature-openning-circle-component.css' | asset_url | stylesheet_tag }}

<div class="special_feature_openning_circle_component">
  <div class="video_container_special_feature">
    <video
      width="100%"
      autoplay="autoplay"
      loop=""
      muted="muted"
      preload=""
      webkit-playsinline="true"
      playsinline="true"
      x5-playsinline="true"
      x-webkit-airplay="allow"
      data-video-element=""
      data-html5-video=""
      class=""><source src="https://cdn.shopify.com/videos/c/o/v/588d435e2798444e84f1aab1767536bf.mp4"></video>
    <div class="text_feature_description">
      <div class="title_with_background">MopExtend™ Technology</div>
      <div class="title_feature">In-Depth Edge Cleaning</div>
      <div class="paragraph1">Utilizing a Position Sensitive Detector to
        <strong>identify edges and corners,</strong>
        MopExtend™ automatically extends the mops to reach spaces robots typically have trouble
        <strong>with for deeper, closer cleaning</strong>.
      </div>
      <div class="paragraph2">
        <strong>Intelligent algorithms</strong>
        help L20 Ultra figure out complex home environments to know<strong>when, where, and how</strong>
        it should best extend and retract its mops.
      </div>
    </div>
  </div>
  <div class="overlay_black_openning">
    <div class="openning_circle"></div>
  </div>
</div>