{{ 'vertical-tabs-features-component.css' | asset_url | stylesheet_tag }}
<div class="vertical_tabs_features_component">
  <div class="vertical_tabs_container">
    <div class="scroller">
      <div class="scroller_container_progress_bar"></div>
      <div class="scroller_container_bar"></div>
    </div>
    <div class="content_container">
      <div class="tab_content">
        <div class="description_text_features_tab">
          <h1>Auto-Empty</h1>
          <h2>Hands-Free Emptying for up to 75 Days⁵</h2>
          <p>Enjoy up to
            <strong>75 days</strong>
            of hands-free cleaning with advanced
            <strong>DualBoost™ 2.0</strong>
            technology, to empty while mitigating clogging, and a
            <strong>3.2L dust bag</strong>. Simplify your cleanup into just throwing away the bag.</p>
        </div>
        <div class="image_container">
          <img
            src="//global.dreametech.com/cdn/shop/files/7_2x_7f713edd-15b8-4f7c-9f13-fbe487a17697.webp?v=1693550012"
            data-src="//global.dreametech.com/cdn/shop/files/7_2x_7f713edd-15b8-4f7c-9f13-fbe487a17697.webp?v=1693550012"
            class="">
        </div>
      </div>
      <div class="tab_content">
        <div class="description_text_features_tab">
          <h1>Mop Self-Cleaning</h1>
          <h2>Hard on Messes, Easy on You</h2>
          <p>L20 Ultra thoroughly washes its mops in the base station any time they get too dirty, and again when its cleaning task is complete.
            <strong>Minimum maintenance. Maximum cleaning</strong>.</p>
        </div>
        <div class="image_container">
          <img
            src="//global.dreametech.com/cdn/shop/files/8_2x_9b237f46-e461-46d7-998d-d16f62c38a42.webp?v=1693550016"
            data-src="//global.dreametech.com/cdn/shop/files/8_2x_9b237f46-e461-46d7-998d-d16f62c38a42.webp?v=1693550016"
            class="small-hide lazyloaded">
        </div>
      </div>
      <div class="tab_content">
        <div class="description_text_features_tab">
          <h1>Automatic Mop Drying</h1>
          <h2>Dries with Warm Air for 2 Hours
          </h2>
          <p>When cleanup is complete, the rotary mops are blow dried for
            <strong>2 hours</strong>
            with
            <strong>warm air</strong>
            to help
            <strong>prevent</strong>mildew formation and unpleasant odor.</p>
        </div>
        <div class="image_container">
          <img
            src="//global.dreametech.com/cdn/shop/files/9_2x_ba8f5df5-9565-40ab-b0c4-00d8be12ba65.webp?v=1693550018"
            data-src="//global.dreametech.com/cdn/shop/files/9_2x_ba8f5df5-9565-40ab-b0c4-00d8be12ba65.webp?v=1693550018"
            class="small-hide lazyloaded">
        </div>
      </div>
      <div class="tab_content">
        <div class="description_text_features_tab">
          <h1>Auto Water Refilling
          </h1>
          <h2>Cleans up to 3,229ft² on a single fill⁶
          </h2>
          <p>Refills the robot's water tank from the
            <strong>4.5L Clean Water Tank</strong>
            to keep the mop wet and maintain high cleaning efficiency.</p>
        </div>
        <div class="image_container">
          <img
            src="//global.dreametech.com/cdn/shop/files/Group_3898.png?v=1693550077"
            data-src="//global.dreametech.com/cdn/shop/files/Group_3898.png?v=1693550077"
            class="small-hide ls-is-cached lazyloaded">
        </div>
      </div>
      <div class="tab_content">
        <div class="description_text_features_tab">
          <h1>Automatic Solution Adding
          </h1>
          <h2>Clean to a Gleam
          </h2>
          <p>Your robot is topped off with the proper solution/water ratio to help ensure your
            <strong>hard floors</strong>, and your
            <strong>home, shine</strong>.</p>
        </div>
        <div class="image_container">
          <img
            src="//global.dreametech.com/cdn/shop/files/Group_3899.png?v=1693550079"
            data-src="//global.dreametech.com/cdn/shop/files/Group_3899.png?v=1693550079"
            class="small-hide ls-is-cached lazyloaded">
        </div>
      </div>
    </div>
  </div>
</div>