{{ 'animations-product-section.css' | asset_url | stylesheet_tag }}
<sections-animation-scroll class="animated-sections-product">
  <div class="animated-sections-product-container">
    {% render 'hero-intro-component' %}
    {% render 'first-description-component' %}
    {% render 'available-products-component' %}
    {% render 'product-features-cards-component' %}
    {% render 'special-feature-openning-circle-component' %}
    {% render 'animation-canvas-feature-product-component' %}
    {% render 'vertical-tabs-features-component' %}
    {% render 'feature-title-component' %}
    {% render 'animation-canvas-with-title' %}
    {% render 'animation-canvas-rotating' %}
    {% render 'objects-identified-component' %}
    {% render 'ai-action-feature-component' %}
    {% render 'path-finder-feature-component' %}
    {% render 'last-section-component' %}
  </div>
</sections-animation-scroll>
{{ 'sections-animation-scroll.js' | asset_url | script_tag }}
{% schema %}
  {
    "name": "Product Animated ",
    "tag": "section",
    "settings": [],
    "presets": [
      {
        "name": "Page Animation"
      }
    ]
  }
{% endschema %}