{{ 'featured-products-section.css' | asset_url | stylesheet_tag }}
<div class="featured_products_cards_section_container">
  <div class="left_card_featured">Product 1</div>
  <div class="right_card_featured">Product 2</div>
</div>