{{ 'header-component.css' | asset_url | stylesheet_tag }}
<section class="header_component_container">
  <div class="logo_container"><img src="{{'theme-logo.png' |  asset_url}}" alt=""></div>
  {% render 'mega-menu-item-component' %}
  <div class="cart_icon_container"><img src="{{'cart-logo.png' |  asset_url}}" alt=""></div>
</section>