{{ 'menu-drawer-section.css' | asset_url | stylesheet_tag }}
<menu-drawer>
  <div class="menu_drawer_section_container">
    <div class="drawer_menu_inner">
      <div class="close_icon_container">
        <img src="{{ 'close_icon.png' |  asset_url }}" alt="">
      </div>
    </div>
    <div class="drawer_menu_overlay">.</div>
  </div>
</menu-drawer>