.ai_action_feature_component {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  top: 0;
  position: relative;
  background-color: black;
  display: flex;
}
.ai_action_feature_component .button_container {
  z-index: 4;
  width: 10vw;
  margin-left: 45vw;
  margin-top: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 3;
  opacity: 1;
  transition: all 0.5s;
}
.ai_action_feature_component .button_container .img_click_container {
  position: absolute;
  height: 2.5vw;
  width: 2.5vw;
  background: linear-gradient(90deg, #C2AC90 0%, #A5886B 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.7vw;
  cursor: pointer;
  top: 50%;
  left: 56%;
  transform: translate(25%, -45%);
}
.ai_action_feature_component .button_container .img_click_container img {
  width: 60%;
  height: 60%;
  object-fit: contain;
  z-index: 1;
}
.ai_action_feature_component .horizontal_scroll_container {
  width: 100vw;
  height: 100%;
  position: absolute;
  z-index: 4;
  background-color: beige;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow-x: auto;
  transform: translateX(100%);
  transition: transform 0.7s;
}
.ai_action_feature_component .horizontal_scroll_container::-webkit-scrollbar {
  display: none;
}
.ai_action_feature_component .horizontal_scroll_container .inside_container_horizontal_scroll {
  width: 100vw;
  height: 100%;
  background-color: black;
  position: relative;
  display: flex;
}
.ai_action_feature_component .horizontal_scroll_container .inside_container_horizontal_scroll .middle_section_identified_objects {
  height: 55vh;
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  margin-left: 9%;
  width: 40vw;
}
.ai_action_feature_component .horizontal_scroll_container .inside_container_horizontal_scroll .middle_section_identified_objects .image_container {
  width: 100%;
  height: 103%;
}
.ai_action_feature_component .horizontal_scroll_container .inside_container_horizontal_scroll .middle_section_identified_objects .image_container img {
  width: 90%;
  object-fit: contain;
}
.ai_action_feature_component .horizontal_scroll_container .inside_container_horizontal_scroll .middle_section_identified_objects p {
  font-size: 0.95vw;
  padding: 1vw 0.5vw;
  color: #969696;
  margin-left: 0.6vw;
}
.ai_action_feature_component .horizontal_scroll_container .inside_container_horizontal_scroll .middle_section_identified_objects p strong {
  color: white;
}
.ai_action_feature_component .horizontal_scroll_container .inside_container_horizontal_scroll .end_section_scroll {
  margin-left: 5%;
}
.ai_action_feature_component .horizontal_scroll_container .inside_container_horizontal_scroll .scroll_bar_horizontal {
  z-index: 3;
  position: sticky;
  width: 48vw;
  background: #423A32;
  height: 3px;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
}
.ai_action_feature_component .horizontal_scroll_container .inside_container_horizontal_scroll .scroll_bar_horizontal .remove_button_scroll {
  cursor: pointer;
  position: absolute;
  background: linear-gradient(90deg, #C2AC90 0%, #A5886B 100%);
  height: 1.5vw;
  width: 1.5vw;
  border-radius: 50%;
  right: 0;
  transform: translate(50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.ai_action_feature_component .horizontal_scroll_container .inside_container_horizontal_scroll .scroll_bar_horizontal .progress_horizontal_scroll {
  position: absolute;
  height: 3px;
  width: 0%;
  background: linear-gradient(90deg, #C2AC90 -0.07%, #A5886B 99.88%);
}
.ai_action_feature_component .text_feature_description {
  position: absolute;
  transition: 0.5s;
  left: 9%;
  width: 52%;
  display: flex;
  bottom: 12%;
  flex-direction: column;
  transition: all 0.5s;
}
.ai_action_feature_component .text_feature_description h2 {
  display: none;
  font-size: 4vw;
  letter-spacing: 0.03em;
  margin-bottom: 4vw;
  padding: 0;
  border-radius: 0;
  background: linear-gradient(90deg, #C2AC90 0%, #A5886B 100%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 700;
}
.ai_action_feature_component .text_feature_description .title_with_background {
  background: linear-gradient(90deg, #C2AC90 0%, #A5886B 100%);
  padding: 0.4vw 2vw;
  border-radius: 0.3vw;
  font-size: 1.25vw;
  margin-bottom: 1.3vw;
  color: #ffffff;
  width: fit-content;
  display: block;
}
.ai_action_feature_component .text_feature_description .title_feature {
  font-size: 3.2vw;
  font-weight: 700;
  margin-bottom: 3vw;
  line-height: 1.2;
  letter-spacing: 0.1vw;
  color: white;
}
.ai_action_feature_component .text_feature_description .paragraph1 {
  font-size: 1.2vw;
  transition: 0.6s;
  color: #969696;
  padding-right: 1vw;
  letter-spacing: 0.03em;
  width: 76%;
}
.ai_action_feature_component .text_feature_description .paragraph1 strong {
  color: white;
}
.ai_action_feature_component .text_feature_description .paragraph1 span {
  display: inline;
}
.ai_action_feature_component .text_feature_description .paragraph2 {
  font-size: 0.95vw;
  color: white;
  transition: 0.6s;
  top: 100%;
  left: 0%;
  position: absolute;
}
.ai_action_feature_component .bg_img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.4s ease;
  z-index: -1;
}

@media (max-width: 550px) {
  .ai_action_feature_component .horizontal_scroll_container .inside_container_horizontal_scroll {
    width: 200vw;
  }
  .ai_action_feature_component .horizontal_scroll_container .inside_container_horizontal_scroll .middle_section_identified_objects {
    height: fit-content;
    margin-top: 3%;
    width: 90vw;
    margin-left: -50vw;
  }
  .ai_action_feature_component .horizontal_scroll_container .inside_container_horizontal_scroll .middle_section_identified_objects .image_container {
    width: 100%;
    height: 103%;
  }
  .ai_action_feature_component .horizontal_scroll_container .inside_container_horizontal_scroll .middle_section_identified_objects .image_container img {
    width: 90%;
  }
  .ai_action_feature_component .horizontal_scroll_container .inside_container_horizontal_scroll .middle_section_identified_objects p {
    font-size: 13px;
    margin-left: 0.6vw;
  }
  .ai_action_feature_component .horizontal_scroll_container .inside_container_horizontal_scroll .end_section_scroll {
    margin-left: 0;
  }
  .ai_action_feature_component .horizontal_scroll_container .inside_container_horizontal_scroll .scroll_bar_horizontal {
    width: 60vw;
    top: 60%;
    z-index: 1;
  }
  .ai_action_feature_component .horizontal_scroll_container .inside_container_horizontal_scroll .scroll_bar_horizontal .remove_button_scroll {
    width: 30px;
    height: 30px;
  }
  .ai_action_feature_component .button_container {
    margin-top: -17%;
    margin-left: 40vw;
  }
  .ai_action_feature_component .button_container .img_click_container {
    width: 8vw;
    height: 8vw;
  }
  .ai_action_feature_component .text_feature_description {
    width: 90%;
    left: 5%;
    top: 22%;
    align-items: center;
  }
  .ai_action_feature_component .text_feature_description .title_with_background {
    display: none;
  }
  .ai_action_feature_component .text_feature_description .title_feature {
    font-size: 6vw;
    padding: 0 5vw;
    margin-bottom: 4vw;
    letter-spacing: 0.03em;
  }
  .ai_action_feature_component .text_feature_description .paragraph1 {
    width: 100%;
    margin-left: 0;
    font-size: 3.7vw;
    line-height: 1.4;
    text-align: center;
  }
  .ai_action_feature_component .text_feature_description .paragraph1 span {
    display: none;
  }
  .ai_action_feature_component .text_feature_description h2 {
    display: block;
    text-align: center;
  }
}