.animated-sections-product {
  width: 100vw;
  height: fit-content;
  display: flex;
}
.animated-sections-product .animated-sections-product-container {
  width: 100vw;
  height: 2000vh;
  display: flex;
  flex-direction: column;
}