.animated-sections-product {
  width: 100vw;
  height: fit-content;
  display: flex;
  margin-top: 100vh;
}
.animated-sections-product .animated-sections-product-container {
  width: 100vw;
  height: 3500vh;
  display: flex;
  flex-direction: column;
  background-color: black;
}