.featured_products_cards_section_container {
  width: 100%;
  height: 44.03vw;
  margin-top: 16.67vw;
  margin-left: 0vw;
  border-radius: 0vw;
  background: rgb(221, 217, 180);
  display: flex;
}
.featured_products_cards_section_container .left_card_featured {
  width: 50vw;
  height: 44.03vw;
  margin-top: 0vw;
  margin-left: 0vw;
  border-radius: 0vw;
  background: rgb(210, 193, 201);
}
.featured_products_cards_section_container .right_card_featured {
  width: 50vw;
  height: 44.03vw;
  margin-top: 0vw;
  margin-left: 0vw;
  border-radius: 0vw;
  background: rgb(237, 242, 206);
}