.featured_product_section_container {
  width: 100%;
  height: 36.39vw;
  margin-top: 0vw;
  margin-left: 0vw;
  border-radius: 0vw;
  display: flex;
}
.featured_product_section_container .animated-card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
}
.featured_product_section_container .card_featured {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  gap: 1.11vw;
  position: relative;
  justify-content: center;
}
.featured_product_section_container .card_featured .top_title,
.featured_product_section_container .card_featured .hook_title {
  animation: TextHeroAnimation 1.25s;
}
.featured_product_section_container .card_featured .top_title {
  width: 100%;
  display: flex;
  justify-content: center;
}
.featured_product_section_container .card_featured .top_title span {
  display: block;
  font-size: 0.97vw;
  font-family: "LatoLight";
}
.featured_product_section_container .card_featured .hook_title {
  width: 100%;
  display: flex;
  justify-content: center;
}
.featured_product_section_container .card_featured .hook_title span {
  text-align: center;
  font-size: 5vw;
  font-family: "LatoBlack";
}
.featured_product_section_container .card_featured .price_text {
  width: 100%;
  display: flex;
  justify-content: center;
}
.featured_product_section_container .card_featured .price_text span {
  display: block;
  font-size: 0.97vw;
  font-family: "LatoLight";
}
.featured_product_section_container .card_featured .buy_button {
  width: 6.46vw;
  height: 2.5vw;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}
.featured_product_section_container .card_featured .buy_button span {
  display: block;
  font-size: 0.97vw;
  font-family: "LatoLight";
}
@keyframes TextHeroAnimation {
  0% {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
.featured_product_section_container .image_container {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 30%;
  z-index: 1;
}
.featured_product_section_container .image_container img {
  width: 100%;
  height: 120%;
  object-fit: contain;
  transform: translateY(0%);
}
.featured_product_section_container .image_container .backwardAnimation {
  animation-direction: reverse;
  animation: ImageAnimationCard 3s;
}
.featured_product_section_container .image_container .forwardAnimation {
  animation: ImageAnimationCard 3s;
}
@keyframes ImageAnimationCard {
  0% {
    transform: translate3d(0, 30%, 0) rotate(10deg);
  }
}

@media screen and (max-width: 450px) {
  .featured_product_section_container {
    width: 100%;
    height: 133.33vw;
    flex-direction: column;
  }
  .featured_product_section_container .card_featured {
    gap: 4.44vw;
  }
  .featured_product_section_container .card_featured .top_title span {
    font-size: 3.11vw;
  }
  .featured_product_section_container .card_featured .hook_title {
    width: 75.56vw;
  }
  .featured_product_section_container .card_featured .hook_title span {
    font-size: 8.44vw;
  }
  .featured_product_section_container .card_featured .price_text span {
    font-size: 3.11vw;
  }
  .featured_product_section_container .card_featured .buy_button {
    width: 20.67vw;
    height: 8vw;
  }
  .featured_product_section_container .card_featured .buy_button span {
    font-size: 3.33vw;
  }
}