.first_description_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
  top: 0;
}
.first_description_container .background_video {
  width: 120%;
  height: 120%;
  display: flex;
  position: absolute;
  overflow: hidden;
}
.first_description_container .background_video video {
  aspect-ratio: 96/49;
  width: 200vw;
  height: 100%;
  border: none;
}
.first_description_container .text_description_animation_container {
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
  position: relative;
  background-color: #fff;
  mix-blend-mode: hard-light;
  transition: 0.5s;
}
.first_description_container .text_description_animation_container .inner_text_title {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 70%;
  text-align: center;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  color: gray;
  font-size: 4vw;
  font-family: "LatoBlack";
}
.first_description_container .scroll_succession_text_animation_container {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
}
.first_description_container .scroll_succession_text_animation_container h1 {
  width: 80%;
  color: white;
  font-size: 3vw;
  font-family: "LatoBlack";
  position: absolute;
  left: 50%;
  top: 90%;
  text-align: center;
  transform: translate(-50%, -50%);
  transition: 0.5s ease;
  opacity: 0;
}

@media (max-width: 550px) {
  .first_description_container .background_video video {
    aspect-ratio: 75/124;
    width: calc(370vw + 280px);
    position: absolute;
    top: 50%;
    left: 50%;
    border: none;
    transform: translate(-50%, -58%);
  }
  .first_description_container .text_description_animation_container .inner_text_title {
    font-size: 6.3vw;
  }
  .first_description_container .scroll_succession_text_animation_container h1 {
    font-size: 5.8vw;
  }
}