.footer_component_container {
  width: 100%;
  height: 12.43vw;
  margin-top: 0vw;
  margin-left: 0vw;
  border-radius: 0vw;
  background: black;
  border-top: 2px solid #2A2A2A;
  display: flex;
  padding-left: 8.47vw;
  padding-right: 8.47vw;
  justify-content: space-between;
}
.footer_component_container .logo_container {
  width: 7.5vw;
  height: 4.51vw;
  display: flex;
  justify-content: space-between;
  margin-top: 3.47vw;
  flex-direction: column;
}
.footer_component_container .logo_container .img_container {
  display: flex;
  width: 2.36vw;
  height: 2.36vw;
}
.footer_component_container .logo_container .img_container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer_component_container .logo_container .copyright_text {
  display: block;
  color: white;
  font-size: 0.9vw;
  font-family: "LatoLight";
}
.footer_component_container .nav_footer_container {
  display: flex;
  height: 1.39vw;
  gap: 0.69vw;
  margin-top: 8.68vw;
}
.footer_component_container .nav_footer_container a {
  height: 100%;
  border-right: 1px solid #EDFF00;
  font-size: 0.9vw;
  font-family: "LatoLight";
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 0.35vw;
}
.footer_component_container .nav_footer_container a span {
  display: block;
}
.footer_component_container .social_media_container {
  width: 9.86vw;
  height: 2.78vw;
  margin-top: 3.47vw;
  display: flex;
  justify-content: space-between;
}
.footer_component_container .social_media_container .img_container {
  width: 2.78vw;
  height: 2.78vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.04vw;
  background-color: white;
}
.footer_component_container .social_media_container .img_container img {
  width: 50%;
  height: 50%;
  object-fit: contain;
}

@media screen and (max-width: 450px) {
  .footer_component_container {
    width: 100%;
    height: 72.67vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6.67vw;
  }
  .footer_component_container span {
    font-size: 3.11vw;
  }
  .footer_component_container .logo_container {
    margin: 0;
    width: 23.78vw;
    height: 14vw;
    align-items: center;
  }
  .footer_component_container .logo_container .img_container {
    width: 8.44vw;
    height: 8.44vw;
  }
  .footer_component_container .logo_container .copyright_text {
    font-size: 3.11vw;
  }
  .footer_component_container .nav_footer_container {
    margin: 0;
    gap: 1.56vw;
    height: 4.89vw;
  }
  .footer_component_container .nav_footer_container a {
    padding-right: 1.11vw;
  }
  .footer_component_container .social_media_container {
    margin-top: 0;
    width: fit-content;
    gap: 2.67vw;
  }
  .footer_component_container .social_media_container .img_container {
    width: 8.44vw;
    height: 8.44vw;
  }
}