body,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "LatoRegular";
  overflow-x: hidden;
  width: 100vw;
}

a {
  color: none;
  text-decoration: none;
}

@font-face {
  font-family: "LatoBlack";
  src: url("Lato-Black.woff2");
  font-weight: 700;
}
@font-face {
  font-family: "LatoBold";
  src: url("Lato-Bold.woff2");
  font-weight: 600;
}
@font-face {
  font-family: "LatoRegular";
  src: url("Lato-Regular.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "LatoLight";
  src: url("Lato-Light.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "LatoThin";
  src: url("Lato-Thin.woff2");
  font-weight: 400;
}