.hero_component_container {
  width: 100%;
  height: 69.44vw;
  background: black;
  display: flex;
  position: relative;
  overflow: hidden;
}
.hero_component_container .main_cotent {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
}
.hero_component_container .main_cotent .text_content_hero_container {
  margin-top: 10.42vw;
  width: 55.56vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.11vw;
}
.hero_component_container .main_cotent .text_content_hero_container .top_title, .hero_component_container .main_cotent .text_content_hero_container .hook_title {
  animation: TextHeroAnimation 1.25s;
}
.hero_component_container .main_cotent .text_content_hero_container .top_title {
  width: 100%;
  display: flex;
  justify-content: center;
}
.hero_component_container .main_cotent .text_content_hero_container .top_title span {
  display: block;
  font-size: 0.97vw;
  color: white;
  font-family: "LatoLight";
}
.hero_component_container .main_cotent .text_content_hero_container .hook_title {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
}
.hero_component_container .main_cotent .text_content_hero_container .hook_title span {
  text-align: center;
  font-size: 5vw;
  font-family: "LatoBlack";
}
.hero_component_container .main_cotent .text_content_hero_container .price_text {
  width: 100%;
  display: flex;
  justify-content: center;
}
.hero_component_container .main_cotent .text_content_hero_container .price_text span {
  display: block;
  font-size: 0.97vw;
  color: white;
  font-family: "LatoLight";
}
.hero_component_container .main_cotent .text_content_hero_container .buy_button {
  width: 6.46vw;
  height: 2.5vw;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EDFF00;
  cursor: pointer;
}
.hero_component_container .main_cotent .text_content_hero_container .buy_button span {
  display: block;
  font-size: 0.97vw;
  color: black;
  font-family: "LatoLight";
}
@keyframes TextHeroAnimation {
  0% {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
.hero_component_container .image_container_hero {
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
}
.hero_component_container .image_container_hero img {
  height: 110%;
  object-fit: contain;
  animation: ImageAnimation 1.35s;
  transform: translateY(3%) rotate(20deg);
}
@keyframes ImageAnimation {
  0% {
    transform: translate3d(0, 30%, 0) rotate(0);
  }
  100% {
    transform: translateY(3%) rotate(20deg);
  }
}

@media screen and (max-width: 450px) {
  .hero_component_container {
    margin-top: 20vw;
    width: 100%;
    height: 173.33vw;
  }
  .hero_component_container .main_cotent .text_content_hero_container {
    gap: 5.56vw;
    margin-top: 37.78vw;
  }
  .hero_component_container .main_cotent .text_content_hero_container .top_title span {
    font-size: 3.11vw;
  }
  .hero_component_container .main_cotent .text_content_hero_container .hook_title {
    width: 75.56vw;
  }
  .hero_component_container .main_cotent .text_content_hero_container .hook_title span {
    font-size: 8.44vw;
  }
  .hero_component_container .main_cotent .text_content_hero_container .price_text span {
    font-size: 3.11vw;
  }
  .hero_component_container .main_cotent .text_content_hero_container .buy_button {
    width: 20.67vw;
    height: 8vw;
  }
  .hero_component_container .main_cotent .text_content_hero_container .buy_button span {
    font-size: 3.33vw;
  }
}