.home {
  width: 100%;
  height: fit-content;
  margin-top: respDim(0);
  margin-left: respDim(0);
  flex-direction: column;
  border-radius: respDim(0);
  background: rgb(0, 0, 0);
  display: flex;
}
.home .header_component_container {
  width: 100%;
  height: respDim(97);
  margin-top: respDim(0);
  margin-left: respDim(0);
  border-radius: respDim(0);
  background: rgb(217, 186, 206);
}
.home .hero_component_container {
  width: 100%;
  height: respDim(687);
  margin-top: respDim(0);
  margin-left: respDim(0);
  border-radius: respDim(0);
  background: rgb(162, 158, 206);
}
.home .featured_products_cards_section_container {
  width: 100%;
  height: respDim(634);
  margin-top: respDim(240);
  margin-left: respDim(0);
  border-radius: respDim(0);
  background: rgb(221, 217, 180);
  display: flex;
}
.home .featured_products_cards_section_container .left_card_featured {
  width: respDim(720);
  height: respDim(634);
  margin-top: respDim(0);
  margin-left: respDim(0);
  border-radius: respDim(0);
  background: rgb(210, 193, 201);
}
.home .featured_products_cards_section_container .right_card_featured {
  width: respDim(720);
  height: respDim(634);
  margin-top: respDim(0);
  margin-left: respDim(0);
  border-radius: respDim(0);
  background: rgb(237, 242, 206);
}
.home .new_products_section_container {
  width: 100%;
  height: respDim(2159);
  margin-top: respDim(0);
  margin-left: respDim(0);
  border-radius: respDim(0);
  background: rgb(211, 147, 205);
}
.home .featured_product_section_container.first {
  width: 100%;
  height: respDim(524);
  margin-top: respDim(0);
  margin-left: respDim(0);
  border-radius: respDim(0);
  background: rgb(193, 221, 233);
}
.home .featured_product_section_container.second {
  width: 100%;
  height: respDim(524);
  margin-top: respDim(0);
  margin-left: respDim(0);
  border-radius: respDim(0);
  background: rgb(233, 207, 193);
}
.home .testimony_section_container {
  width: 100%;
  height: respDim(883);
  margin-top: respDim(0);
  margin-left: respDim(0);
  border-radius: respDim(0);
  background: rgb(203, 209, 187);
}
.home .footer_component_container {
  width: 100%;
  height: respDim(299);
  margin-top: respDim(0);
  margin-left: respDim(0);
  border-radius: respDim(0);
  background: rgb(195, 187, 217);
}