.animated-sections-product{
    width: 100vw;
    height: 1000vh;
    display: flex; 
    .animated-sections-product-container{
        width: 100vw;
        height: 1000vh;
        display: flex;
        flex-direction: column;   
    }
}
