@import "responsiveDim.scss";

.cart_drawer{
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    z-index: 20;
    .cart_drawer_container{
        width: 100vw;
        height: 100vh;
        display: flex;
        background-color: rgba($color: #0000, $alpha: 0.8);
        overflow-y: scroll;
        .overlay_dark{
            width: 70%;
            height: 100%;
        }
        .cart_inner{
            margin-left: auto;
            height: 100%;
            width: respDim(500);
            background-color: white;
            animation: cart_animate .15s ease-in;
            display: flex;
            flex-direction: column;
            position: relative;
            height: 150vh;
            padding-left: respDim(30);
            padding-right: respDim(30);
            .cart_cart_header{
                width: 100%;
                height: respDim(100);
                display: flex;
                align-items: center;
                justify-content: center;
                .close_icon{
                    width: respDim(22);
                    height: respDim(22);
                    display: flex;
                    cursor: pointer;
                    margin-left: auto;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .cart_title{
                    margin-left: auto;
                    font-size: respDim(20);
                    font-family: 'LatoBold';
                }
            }
            
            .items_cart_container{
                width: 100%;
                height: 30vh;
                display: flex;
                flex-direction: column;
                span {
                    display: block;
                    font-size: 12px;
                }
            }
        }
        @keyframes cart_animate {
            0%{transform: translate(100%);}
            100%{transform: translate(0);}
        }
    }
}
@media screen and (max-width: 450px) {
    .cart_drawer{
        .cart_drawer_container{
        .overlay_dark{
            width: 10%;
        }
        .cart_inner{
            width: 90%;
            .close_icon{
                top: respDimM(30);
                right: respDimM(30);
                width: respDimM(25);
                height: respDimM(25);
            }
        }
    }
    }
}