@import "responsiveDim.scss";
.featured_products_cards_section_container {
    width: 100%;
    height: respDim(634);
    margin-top: respDim(240);
    margin-left: respDim(0);
    border-radius: respDim(0);
    background: rgba(
      221.00000202655792,
      216.85623317956924,
      179.56249594688416,
      1
    );
    display: flex;
    .left_card_featured {
      width: respDim(720);
      height: respDim(634);
      margin-top: respDim(0);
      margin-left: respDim(0);
      border-radius: respDim(0);
      background: rgba(
        210.37499696016312,
        192.84375607967377,
        201.258784532547,
        1
      );
    }
    .right_card_featured {
      width: respDim(720);
      height: respDim(634);
      margin-top: respDim(0);
      margin-left: respDim(0);
      border-radius: respDim(0);
      background: rgba(
        237.16278433799744,
        242.24999696016312,
        205.91250121593475,
        1
      );
    }
  }