@import "responsiveDim.scss";
.featured_product_section_container {
    width: 100%;
    height: respDim(524);
    margin-top: respDim(0);
    margin-left: respDim(0);
    border-radius: respDim(0);
    display: flex;

    
  }