@import "responsiveDim.scss";
 
.footer_component_container {
    width: 100%;
    height: respDim(179);
    margin-top: respDim(0);
    margin-left: respDim(0);
    border-radius: respDim(0);
    background: black;
    border-top: 2px solid #2A2A2A;
    display: flex;
    padding-left: respDim(122);
    padding-right: respDim(122);
    justify-content: space-between;
    .logo_container{
      width: respDim(108);
      height: respDim(65);
      display: flex;
      justify-content: space-between;
      margin-top: respDim(50);
      flex-direction: column;
      .img_container{
        display: flex;
        width: respDim(34);
        height: respDim(34);
        img{
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .copyright_text{
        display: block;
        color: white;
        font-size: respDim(13);
        font-family: 'LatoLight';
      }
    }
    .nav_footer_container{
      display: flex;
      height: respDim(20);
      gap: respDim(10);
      margin-top: respDim(125);
      
      a{
        height: 100%;
        border-right: 1px solid #EDFF00;
        font-size: respDim(13);
        font-family: 'LatoLight';
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: respDim(5);
        span{
          display: block;
        }
      }
    }
    .social_media_container{
      width: respDim(142);
      height: respDim(40);
      margin-top: respDim(50);
      display: flex;
      justify-content: space-between;
      .img_container{
        width: respDim(40);
        height: respDim(40);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: respDim(15);
        background-color: white;
        img{
          width: 50%;
          height: 50%;
          object-fit: contain;
        }
      }
    }
  }
  @media screen and (max-width: 450px) {
    .footer_component_container{
      width: 100%;
      height: respDimM(327);
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap:respDimM(30);
      span{
      font-size: respDimM(14);
      }
      .logo_container{
        margin:0;
        width: respDimM(107);
        height: respDimM(63);
        align-items: center;
        .img_container{
          width: respDimM(38);
          height: respDimM(38);
        }
        .copyright_text{
          font-size: respDimM(14);
        }
      }
      .nav_footer_container{
        margin: 0;
        gap: respDimM(7);
        height: respDimM(22);
        a{
          padding-right:respDimM(5);
        }
      }
      .social_media_container{
        margin-top: 0;
        width: fit-content;
        gap: respDimM(12);
        .img_container{
          width: respDimM(38);
          height: respDimM(38);
        }
      }
    }
  }