@import "responsiveDim.scss";
.hero_component_container {
    width: 100%;
    height: respDim(1000);
    background: black;
    display: flex;
    position: relative;
    overflow: hidden;

    
    .main_cotent{
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
      display: flex;
      justify-content: center;
      .text_content_hero_container{
        margin-top: respDim(150);
        width: respDim(800);
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: respDim(16);
        .top_title, .hook_title  {
          animation: TextHeroAnimation 1.25s;
        }
        .top_title{
          width: 100%;
          display: flex;
          justify-content: center;
          h2{
            display: block;
            font-size: respDim(14);
            color: white;
            font-family: 'LatoLight';
          }
        }
        .hook_title{
          width: 100%;
          display: flex;
          justify-content: center;
          color: white;
          h1{
            text-align: center;
            font-size: respDim(72);
            font-family: 'LatoBlack';
          }
        }
        .price_text{
          width: 100%;
          display: flex;
          justify-content: center;
          span{
            display: block;
            font-size: respDim(14);
            color: white;
            font-family: 'LatoLight';
          }
        }
        .buy_button{
          width: respDim(93);
          height: respDim(36);
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #EDFF00;
          cursor: pointer;
          span{
            display: block;
            font-size: respDim(14);
            color: black;
            font-family: 'LatoLight';
          }
        }
        @keyframes TextHeroAnimation {
          0%{
            transform: translate3d(0,100%,0);
            opacity: 0;
          }
          100%{
            transform: translate(0);
            opacity: 1;
          }
        }
      }
    }
    .image_container_hero{
      z-index: 1;
      width: 100%;
      height: 100%;
      display: flex;
      position: absolute;

      img{
        
        height: 110%;
        object-fit: contain;
        animation: ImageAnimation 1.35s;
        transform: translateY(3%) rotate(20deg);

      }
      @keyframes ImageAnimation {
        0%{
          transform: translate3d(0,30%,0) rotate(0);
        }
        100%{
          transform: translateY(3%) rotate(20deg);
        }
      }
    }

  }

@media screen and (max-width: 450px) {
  .hero_component_container{
    margin-top: respDimM(90);
    width: 100%;
    height: respDimM(780);

    .main_cotent{

      .text_content_hero_container{
        gap:respDimM(25);
        margin-top: respDimM(170);
        .top_title{
          h2{
            font-size: respDimM(14);
          }
        }
        .hook_title{
          width: respDimM(340);
          h1{
            font-size: respDimM(38);  
          }
        } 
        .price_text{
          span{
            font-size: respDimM(14);
          }
        }
        .buy_button{
          width: respDimM(93);
          height: respDimM(36);
          span{
            font-size: respDimM(15);
          }
        }
      }
    }    
  }
}