.product_features_cards_component_container{
    width: 100vw;
    height: 100vh;
    background-color: #1A1A1A;
    top: 0;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .2s ease;
    display: flex;
    position: relative;
 

    .overlay_feature_animation_container{
        width: 100%;
        height: 100%;
        background-color: #00000090;
        position: absolute;
        z-index: 1;
        display: none;
        .image_container_feature{
            height: 24vw;
            width: 24vw;
            position: absolute;
            left: 9%;
            top: 52%;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .text_description_overlay_feature_container{
            position: absolute;
            top: 100%;
            opacity: 0;
            left: 12%;
            display: flex;
            flex-direction: column;
            width: 32%;
            h1{
                color: white;
                font-size: 3vw;
                font-weight: 700;
                line-height: 1.2;
                margin-bottom: 3vw;
            }
            p{
                font-size: .95vw;
                color: #969696;
                span{
                    color: white;
                }
            }
        }
    }
    .features_cards_container{
        width: 75vw;
        flex-wrap: wrap;
        justify-content: space-between;
        display: flex;

        .wide_card_top_feature_container{
            flex: 0 1 100%;
            overflow: hidden;
            border-radius: 1vw;
            transition: .5s ease;
            height: 42vh;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 2.5vw;
            .img_container{
                width: 100%;
                height: 100%;
                display: flex;
                position: absolute;
                z-index: -1;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;  
                }
            }
            .title_card_feature_product{
                font-weight: 700;
                letter-spacing: .06em;
                margin-bottom: .8vw;
                line-height: 1.2;
                color: white;
                font-size: 1vw;
                margin-top: 28px;
            }
            .sub_title_card_feature_product{
                font-size: .8vw;
                line-height: 1.4;
                color: white;
            }
            
        }
        .card_feature_product{  
            overflow: hidden;
            border-radius: 1vw;
            transition: .5s ease;
            margin-bottom: 2vw;
            flex: 0 1 calc((100% - 8vw)/4);
            height: 42vh;
            position: relative;
            display: flex;
            flex-direction: column;
            transition: all .5s ease;
            cursor: pointer;
            .img_container{
                width: 100%;
                height: 100%;
                display: flex;
                position: absolute;
                z-index: -1;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;  
                }
            }
            .title_card_feature_product{
                font-weight: 700;
                letter-spacing: .06em;
                margin-bottom: .8vw;
                line-height: 1.2;
                color: white;
                font-size: 1vw;
                margin-top: 20px;
                padding-left: 1.4vw;
            }
            .sub_title_card_feature_product{
                font-size: 0.8vw;
                line-height: 1.4;
                color: white;
                padding-left: 1.4vw;
            }
            &:hover{
                transform: scale(1.14);
            }
        }
    }
}
@media (max-width: 550px){ 
    .product_features_cards_component_container{

        .overlay_feature_animation_container{
            .image_container_feature{
                width: 64.4256vw;
                height: 64.4256vw;
                left: -6.30838%;
                top: 35.2552%;
            }
            .text_description_overlay_feature_container{
                left: 5vw;
                width: 90%;
                top: 6%;

                h1{
                    font-size: 9vw;
                    letter-spacing: .02em;
                    margin-bottom: 4vw;
                }
                p{
                    font-size: 3.7vw;
                    padding-right: 1vw;
                }
            }
        }
        .features_cards_container{
            width: 95vw;
            margin-top: 5vh;
            .wide_card_top_feature_container{
                max-height: 48vw;
                border-radius: 3vw;
                margin-bottom: 8vw;
                .title_card_feature_product{
                    font-weight: 700;
                    line-height: 1.2;
                    color: white;
                    font-size: 5.3vw;
                    margin-top: 9px;
                    text-align: center;
                }
                .sub_title_card_feature_product{
                    font-size: 3.1vw;
                    color: white;
                }
            }
            & .card_feature_product{
                max-height: 69vw;
                height: 65vw;   
                margin-bottom: 3vw;
                flex: 0 1 calc((100% - 3vw)/2);
                border-radius: 2vw;
                .title_card_feature_product{
                    font-weight: 700;
                    line-height: 1.2;
                    color: white;
                    font-size: 3.1vw;
                    margin-top: 9px;
                    padding-left: 2.5vw;
                    width: 100%;
                }
                .sub_title_card_feature_product{
                    font-size: 3.3vw;
                    color: white;
                    display: none;
                }
                &:hover{
                    transform: scale(1.05);
                }
            }
          
        }
    }
}