.special_feature_openning_circle_component{
    width: 100vw;
    height: 100vh;
    display: flex;
    // position: relative;
    top: 0;
    // background-color: black;
    opacity: 0;
    transition: opacity .2s ease;
    overflow: hidden;
  

    .video_container_special_feature{
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        video{
            aspect-ratio: 96 / 49;
            width: 120%;
        }
        .text_feature_description{
            position: absolute;
            top: 65%;
            left: 14%;
            width: 38%;
            display: flex;
            flex-direction: column;
            opacity: 0;
            .title_with_background{
                background: linear-gradient(90deg,#C2AC90 0%,#A5886B 100%);
                padding: .4vw 2vw;
                border-radius: .3vw;
                font-size: 1.25vw;
                margin-bottom: 1.3vw;
                color: #ffffff;
                width: fit-content;
            }
            .title_feature{
                font-size: 3.2vw;
                font-weight: 700;
                margin-bottom: 3vw;
                line-height: 1.2;
                letter-spacing: .1vw;
                color: white;
            }
            .paragraph1{            
                font-size: .95vw;
                color: white;
                transition: .6s;
                top: 80%;
                left: 0%;
                position: absolute;
            }
            .paragraph2{            
                font-size: .95vw;
                color: white;
                transition: .6s;
                top: 100%;
                left: 0%;
                position: absolute;
                // opacity: 0;
            }
            // opacity: 0;
        }
    }
    .overlay_black_openning{
        width: 100%;
        height: 100%;
        background-color: black;
        position: absolute;
        z-index: 1;
        
        mix-blend-mode: hard-light;
        .openning_circle{
            background-color: gray;
            width:20vw;
            height: 20vw;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
}
@media (max-width: 550px){ 

    .special_feature_openning_circle_component{
        .video_container_special_feature{
            video{
                width: 430%;
            }
            .text_feature_description{
                width: 80%;
                align-items: center;
                left:50%;
                transform: translateX(-53%);
                top: 20%;
                .title_with_background{
                    font-size: 4vw;
                    letter-spacing: 0;
                    margin-bottom: 4vw;
                    padding: 0;
                    border-radius: 0;
                    background: linear-gradient(90deg,#C2AC90 0%,#A5886B 100%),linear-gradient(0deg,#FFFFFF,#FFFFFF);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                    font-weight: 700;
                }
                .title_feature{
                    font-size: 6vw;
                    font-weight: 700;
                    line-height: 1.2;
                    margin-bottom: 4vw;
                    letter-spacing: .02em;
                }
                .paragraph1{
                    font-size: 3.7vw;
                    text-align: center;
                }
                .paragraph2{
                    font-size: 3.7vw;
                    text-align: center;
                }
            }    
        }
    }
}